
{% extends "partials/_page.twig" %}

{% block content %}

<main id="content" role="main">
  <div class="container usa-grid clearfix">

    {% include '01-Modules/left-nav.twig' %}

  <!---right container-->
  <div class="col-md-9 col-sm-12 rightnav">
    <header>
		<h1 id="">Workplace Issues</h1>
    	<p>Learn more about your rights on the job.</p>
    </header>
    <!-- begin WOTP -->

    <div class="wotp">
		<header>
      		<h2 id="">What's on This Page</h2>
	  	</header>
      <div class="clearfix">
        <ul>
          <li><a href="" onclick="document.getElementById(&#39;hdg1&#39;).focus();">Report Unusual Animal Sightings</a></li>
          <li><a href="" onclick="document.getElementById(&#39;pnl1&#39;).focus();">Federal Labor Laws</a></li>
          <li><a href="" onclick="document.getElementById(&#39;hdg2&#39;).focus();">Labor Unions</a></li>
		  <li><a href="" onclick="document.getElementById(&#39;hdg2&#39;).focus();">Report Violations of the Family and Medical Leave Act (FMLA)</a></li>
		  <li><a href="" onclick="document.getElementById(&#39;hdg2&#39;).focus();">Types of Federal Student Aid</a></li>
		  <li><a href="" onclick="document.getElementById(&#39;hdg2&#39;).focus();">Federal Labor Laws</a></li>
        </ul>
      </div>
    </div>
    <!-- end COTP -->

<script type="text/javascript" src="../../js/accordion-from-content.js"></script>
<script type="text/javascript">
$(document).ready(function(){
	accordionify({
		id: "#item-118"
	});
	accordionify({
		id: "#item-119",
		headingLevel: "h4"
	});
});
</script>

<article>
	
	<header>
    <h2 id="item-117">No Accordion</h2>
	</header>
	
  <p>Some Text</p>
  <header>
	  <h3>H3</h3>
  </header>
	
  <p>Some Text</p>
	<header>
    <h4>H4</h4>
  </header>
  <p>Some Text</p>
	<header>
    <h4>H4</h4>
  </header>
  <p>Some Text</p>
	
  <header>
	  <h3>H3</h3>
  </header>
	
  <p>Some Text</p>
	<header>
    <h4>H4</h4>
  </header>
  <p>Some Text</p>
	<header>
    <h4>H4</h4>
  </header>
  <p>Some Text</p>
  
 	<p class="volver clearfix"><a href="#skiptarget"><span class="icon-backtotop-dwnlvl">Back to Top</span></a></p>
</article>

<article>
	
	<header>
    <h2 id="item-118">H3 Accordions</h2>
	</header>
	
  <p>Some Text</p>
  <header>
	  <h3>H3</h3>
  </header>
	
	  <p>Some Text</p>
		<header>
	    <h4>H4</h4>
	  </header>
	  <p>Some Text</p>
		<header>
	    <h4>H4</h4>
	  </header>
	  <p>Some Text</p>
	
	
  <header>
	  <h3>H3</h3>
  </header>
	
	  <p>Some Text</p>
		<header>
	    <h4>H4</h4>
	  </header>
	  <p>Some Text</p>
		<header>
	    <h4>H4</h4>
	  </header>
	  <p>Some Text</p>
	
  
 	<p class="volver clearfix"><a href="#skiptarget"><span class="icon-backtotop-dwnlvl">Back to Top</span></a></p>
</article>

<article>
	
	<header>
    <h2 id="item-119">H4 Accordions</h2>
	</header>
	
  <p>Some Text</p>
  <header>
	  <h3>H3</h3>
  </header>
	
  <p>Some Text</p>
	<header>
    <h4>H4</h4>
  </header>
  <p>Some Text</p>
	<header>
    <h4>H4</h4>
  </header>
  <p>Some Text</p>
	
  <header>
	  <h3>H3</h3>
  </header>
	
  <p>Some Text</p>
	<header>
    <h4>H4</h4>
  </header>
  <p>Some Text</p>
	<header>
    <h4>H4</h4>
  </header>
  <p>Some Text</p>


		{% include 'partials/_smshare.twig' %}

  <p class="volver clearfix"><a href="#skiptarget"><span class="icon-backtotop-dwnlvl">Back to Top</span></a></p>
</article>

    <div id="cntctbx">
    	<h2 id="">Do you need help?</h2>
        <p>Ask us any question about the U.S. government for free.  We'll get you the answer, or we'll tell you where to find it.</p>
        <ul>
            <li><a href="www.bling.com">Call USA.gov</a></li>
            <li><a href="www.commet.com">Chat with USA.gov</a></li>
            <li><a href="www.nasa.gov">E-mail USA.gov</a></li>
        </ul>
    </div>

    <h2 id="pagesurvey-hdr">What you think matters!</h2>
    <div id="pagesurvey-trgt">
    </div>
    <div id="pagesurvey-ombnum"><a href="/notices">Form Approved OMB#0000-000 Exp. Date X/XX/XXXX</a></div>
    <noscript> <iframe src="http://survey.usa.gov/surveys/251"></iframe> </noscript>
    <script type="text/javascript" src="http://survey.usa.gov/widget/widget.js?survey_id=251&target_id=pagesurvey-trgt"></script>
  </div>
  </div>
</main>


{% endblock content %}
