<footer class="usa-footer usa-footer-big" role="contentinfo">
	<h2 class="hidden-title">footer</h2>
	<!-- <div class="usa-grid usa-footer-return-to-top">
      <a href="#">Return to top</a>
    </div> -->
	<div class="usa-footer-primary-section">
		<div class="usa-grid-full">
			<nav class="usa-footer-nav usa-width-two-thirds">
				<ul class="usa-unstyled-list usa-width-one-half usa-footer-primary-content">
					<li class="usa-footer-primary-link">
						<h3>About USA.gov</h3>
					</li>
					<li>
						<a href="/about">About Us and Site Notices</a>
					</li>
					<li>
						<a href="/media">For the Media</a>
					</li>
					<li>
						<a href="/developer">For Developers</a>
					</li>
					<li>
						<a href="/site-index">Site Index</a>
					</li>
				</ul>
				<ul class="usa-unstyled-list usa-width-one-half usa-footer-primary-content footer-list-continued">
					<li class="usa-footer-primary-link">
						<h3>Ask USA.gov a Question</h3>
					</li>
					<li><a href="https://www.usa.gov/phone">Call 1-844-USAGOV1 (1-844-872-4681)</a></li>
					<li><a href="https://www.usa.gov/email">Email Us</a></li>
					<li><a href="https://www.usa.gov/chat">Chat with Us</a></li>
				 <li><a href="https://gobierno.usa.gov/contactenos" lang="es" xml:="">En Español</a></li>
				</ul>
			</nav>

			<div class="usa-sign_up-block usa-width-one-third">
				<h3 class="usa-sign_up-header">Sign up</h3>
				<form action="http://connect.usa.gov/subscribe" method="get">
					<label class="" for="email" id="">Your email address</label>
					<input id="email" name="email" type="email">

					<button type="submit">Sign up</button>
				</form>
			</div>
		</div>
	</div>

	<div class="usa-footer-secondary_section usa-footer-big-secondary-section">
		<div class="usa-grid">
			<div class="usa-footer-logo usa-width-one-half">
				<a href="/explore/">
					<img class="usa-footer-logo-img" src="../../images/USAGOV.png" alt="USAGov Logo">
				</a>
				<!--<h3 class="usa-footer-logo-heading">USAgov</h3>-->
			</div>
			<div class="usa-footer-contact-links usa-width-one-half">
			<ul class="usa-unstyled-list">
				<li>
					<a href="https://www.facebook.com/USAgov">
						<img  class="sm-image" src="../../images/Icon_Connect_Facebook.png" alt="Facebook USAGov"/>
					</a>
				</li>
        <li>
					<a href="https://twitter.com/USAgov">
						<img class="sm-image" src="../../images/Icon_Connect_Twitter.png" alt="Twitter USAGov"/>
					</a>
				</li>
        <li>
					<a href="https://www.youtube.com/usagov">
						<img class="sm-image" src="../../images/Icon_Connect_Youtube.png" alt="YouTube USAGov">
					</a>
				</li>
				<li>
					<a href="https://www.instagram.com/usagov/">
						<img class="sm-image" src="../../images/Icon_Connect_Instragram.png" alt="Instagram USAGov">
					</a>
				</li>
        <li>
					<a href="https://www.snapchat.com/add/usagov">
						<img class="sm-image" src="../../images/Icon_Connect_Snapchat.png" alt="Snapchat USAGov"/>
					</a>
				</li>
				<li>
					<a href="https://www.pinterest.com/usagov/">
						<img class="sm-image" src="../../images/Icon_Connect_Pinterest.png" alt="Pinterest USAGov">
					</a>
				</li>
        <li>
					<a href="https://www.usa.gov/rss">
						<img class="sm-image" src="../../images/Icon_Connect_RSS.png" alt="RSS USAGov"/>
					</a>
				</li>
      </ul>
			</div>
		</div>
	</div>

	<div class="footertagline">
		<!-- <section> -->
		<div class="tagline clearfix container">
			<p>Official Guide to Government Information and Services</p>
			<p class="volver clearfix">
			  <a href="#skiptarget">
			    <span class="icon-backtotop-dwnlvl">{{ lang == 'en' ? 'Back to Top' : 'Volver al inicio' }}</span>
			  </a>
			</p>
		</div>
	</div>
</footer>
