{% if lang == 'en' %}

<h2 id="pagesurvey-hdr">What you think matters!</h2>
<div id="pagesurvey-trgt">

  {%- if true -%}{#- Set to 'true' to view js generated survey or 'false' to see raw html source code #}
  <div id="pagesurvey-trgt">
    <iframe src="//survey.usa.gov/surveys/251/visit" style="display: none;" height="0" width="0" tabindex="-1" title="empty"></iframe>

    <form accept-charset="UTF-8" action="/survey_responses" class="voc-form" method="post"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="✓"><input name="authenticity_token" type="hidden" value="pAv5wpMg5p+fOBbuWYLup7fRGXcJ3KVzjyl/kZVT99I="></div>
      <input id="stylesheet" name="stylesheet" type="hidden">
      <input id="survey_id" name="survey_id" type="hidden" value="251">
      <input id="survey_version_id" name="survey_version_id" type="hidden" value="1061">
      <input id="response_page_url" name="response[page_url]" type="hidden" value="https://www.usa.gov/business-search">

      <input id="response_device" name="response[device]" type="hidden" value="Desktop">
        <div class="current_page" id="page_1">
          <a name="PAGE_1"></a>
          <input id="page_1_next_page" name="next_page" type="hidden" value="2">
          <input id="page_1_prev_page" name="prev_page" type="hidden" value="1">
          <ul class="showList">
            <li class="outter">
                <input id="response_raw_responses_attributes_0_question_content_id" name="response[raw_responses_attributes][0][question_content_id]" type="hidden" value="8081">
                <input class="required_question" id="q_8081_required" name="q_8081_required" type="hidden" value="false">

                <div class="vocquestiontext">
                    Was this page helpful?
                </div>
                    <div class="vocradiosshort place_horiz">
                          <span class="vocradio"><input class="question_8081_answer" id="response_raw_responses_attributes_0_answer_26451" name="response[raw_responses_attributes][0][answer]" onclick="VOC.set_next_page(this, 1, 2);" type="radio" value="26451">
                          <label for="response_raw_responses_attributes_0_answer_26451">Yes</label></span>

                          <span class="vocradio"><input class="question_8081_answer" id="response_raw_responses_attributes_0_answer_26461" name="response[raw_responses_attributes][0][answer]" onclick="VOC.set_next_page(this, 1, 3);" type="radio" value="26461">
                          <label for="response_raw_responses_attributes_0_answer_26461">No</label></span>

                    </div>

            </li>
          </ul>
          <div class="surveyNav">
              <span class="surveyNavNext">
                <a class="surveyNav" href="javascript:void(0);">Next</a>
              </span>
            <span class="surveyNavSub">
            </span>
          </div>

            <div class="hidden_page required_fields_error" data-msg="This question must be answered to continue. Thanks!"></div>
        </div> <!-- close page div -->
        <div class="hidden_page" id="page_2">
          <a name="PAGE_2"></a>
          <input id="page_2_next_page" name="next_page" type="hidden" value="4">
          <input id="page_2_prev_page" name="prev_page" type="hidden" value="1">
          <ul class="showList">
            <li class="outter">
                <input id="response_raw_responses_attributes_1_question_content_id" name="response[raw_responses_attributes][1][question_content_id]" type="hidden" value="8091">
                <input class="required_question" id="q_8091_required" name="q_8091_required" type="hidden" value="false">

                <div class="vocquestiontext">
                    I found this page helpful because it... (Check all that apply):
                </div>
                    <div class="voccheckboxeslong place_vert">
                      <fieldset>
                        <legend><span class="legendText">Select answer(s):</span></legend>
                          <span class="voccheckbox"><input class="question_8091_answer" id="answer_26471" name="response[raw_responses_attributes][1][answer][]" type="checkbox" value="26471">
                          <label for="answer_26471">Had the information I needed</label></span>
                          <br>
                          <span class="voccheckbox"><input class="question_8091_answer" id="answer_26481" name="response[raw_responses_attributes][1][answer][]" type="checkbox" value="26481">
                          <label for="answer_26481">Was trustworthy</label></span>
                          <br>
                          <span class="voccheckbox"><input class="question_8091_answer" id="answer_26491" name="response[raw_responses_attributes][1][answer][]" type="checkbox" value="26491">
                          <label for="answer_26491">Was up-to-date</label></span>
                          <br>
                          <span class="voccheckbox"><input class="question_8091_answer" id="answer_26501" name="response[raw_responses_attributes][1][answer][]" type="checkbox" value="26501">
                          <label for="answer_26501">Was easy to understand</label></span>
                          <br>
                          <span class="voccheckbox"><input class="question_8091_answer" id="answer_26511" name="response[raw_responses_attributes][1][answer][]" type="checkbox" value="26511">
                          <label for="answer_26511">Other</label></span>
                          <br>
                      </fieldset>
                    </div>

            </li>
          </ul>
          <div class="surveyNav">
              <span class="surveyNavPrev">
                <a class="surveyNav" href="javascript:void(0);">Go back</a>
              </span> |
              <span class="surveyNavNext">
                <a class="surveyNav" href="javascript:void(0);">Next</a>
              </span>
            <span class="surveyNavSub">
            </span>
          </div>

            <div class="hidden_page required_fields_error" data-msg="This question must be answered to continue. Thanks!"></div>
        </div> <!-- close page div -->
        <div class="hidden_page" id="page_3">
          <a name="PAGE_3"></a>
          <input id="page_3_next_page" name="next_page" type="hidden" value="4">
          <input id="page_3_prev_page" name="prev_page" type="hidden" value="2">
          <ul class="showList">
            <li class="outter">
                <input id="response_raw_responses_attributes_2_question_content_id" name="response[raw_responses_attributes][2][question_content_id]" type="hidden" value="8101">
                <input class="required_question" id="q_8101_required" name="q_8101_required" type="hidden" value="false">

                <div class="vocquestiontext">
                    I did NOT find this page helpful because it... (Check all that apply):
                </div>
                    <div class="voccheckboxeslong place_vert">
                      <fieldset>
                        <legend><span class="legendText">Select answer(s):</span></legend>
                          <span class="voccheckbox"><input class="question_8101_answer" id="answer_26521" name="response[raw_responses_attributes][2][answer][]" type="checkbox" value="26521">
                          <label for="answer_26521">Has too little information</label></span>
                          <br>
                          <span class="voccheckbox"><input class="question_8101_answer" id="answer_26531" name="response[raw_responses_attributes][2][answer][]" type="checkbox" value="26531">
                          <label for="answer_26531">Has too much information</label></span>
                          <br>
                          <span class="voccheckbox"><input class="question_8101_answer" id="answer_26541" name="response[raw_responses_attributes][2][answer][]" type="checkbox" value="26541">
                          <label for="answer_26541">Was confusing</label></span>
                          <br>
                          <span class="voccheckbox"><input class="question_8101_answer" id="answer_26551" name="response[raw_responses_attributes][2][answer][]" type="checkbox" value="26551">
                          <label for="answer_26551">Was not what I thought I'd find here</label></span>
                          <br>
                          <span class="voccheckbox"><input class="question_8101_answer" id="answer_26561" name="response[raw_responses_attributes][2][answer][]" type="checkbox" value="26561">
                          <label for="answer_26561">Other</label></span>
                          <br>
                      </fieldset>
                    </div>

            </li>
          </ul>
          <div class="surveyNav">
              <span class="surveyNavPrev">
                <a class="surveyNav" href="javascript:void(0);">Go back</a>
              </span> |
              <span class="surveyNavNext">
                <a class="surveyNav" href="javascript:void(0);">Next</a>
              </span>
            <span class="surveyNavSub">
            </span>
          </div>

            <div class="hidden_page required_fields_error" data-msg="This question must be answered to continue. Thanks!"></div>
        </div> <!-- close page div -->
        <div class="hidden_page" id="page_4">
          <a name="PAGE_4"></a>
          <input id="page_4_next_page" name="next_page" type="hidden" value="5">
          <input id="page_4_prev_page" name="prev_page" type="hidden" value="3">
          <ul class="showList">
            <li class="outter">
                <input id="response_raw_responses_attributes_3_question_content_id" name="response[raw_responses_attributes][3][question_content_id]" type="hidden" value="8111">
                <input class="required_question" id="q_8111_required" name="q_8111_required" type="hidden" value="false">

                <div class="vocquestiontext">
                    Would you like to tell us how we can improve the page?
                </div>
                    <div class="vocradiosshort place_horiz">
                          <span class="vocradio"><input class="question_8111_answer" id="response_raw_responses_attributes_3_answer_26571" name="response[raw_responses_attributes][3][answer]" onclick="VOC.set_next_page(this, 4, 5);" type="radio" value="26571">
                          <label for="response_raw_responses_attributes_3_answer_26571">Yes</label></span>

                          <span class="vocradio"><input class="question_8111_answer" id="response_raw_responses_attributes_3_answer_26581" name="response[raw_responses_attributes][3][answer]" onclick="VOC.set_next_page(this, 4, 6);" type="radio" value="26581">
                          <label for="response_raw_responses_attributes_3_answer_26581">No</label></span>

                    </div>

            </li>
          </ul>
          <div class="surveyNav">
              <span class="surveyNavPrev">
                <a class="surveyNav" href="javascript:void(0);">Go back</a>
              </span> |
              <span class="surveyNavNext">
                <a class="surveyNav" href="javascript:void(0);">Next</a>
              </span>
            <span class="surveyNavSub">
            </span>
          </div>

            <div class="hidden_page required_fields_error" data-msg="This question must be answered to continue. Thanks!"></div>
        </div> <!-- close page div -->
        <div class="hidden_page" id="page_5">
          <a name="PAGE_5"></a>
          <input id="page_5_next_page" name="next_page" type="hidden" value="6">
          <input id="page_5_prev_page" name="prev_page" type="hidden" value="4">
          <ul class="showList">
            <li class="outter">
                <input id="response_raw_responses_attributes_4_question_content_id" name="response[raw_responses_attributes][4][question_content_id]" type="hidden" value="8121">
                <input class="required_question" id="q_8121_required" name="q_8121_required" type="hidden" value="false">

                <div class="vocquestiontext">
                    <label for="response_raw_responses_attributes_4_answer">Thank you!  How can we make this page more helpful?</label>
                </div>
                    <span class="voctextarea"><textarea class="text_question_area question_8121_answer" id="response_raw_responses_attributes_4_answer" name="response[raw_responses_attributes][4][answer]"></textarea></span>
            </li>
          </ul>
          <div class="surveyNav">
              <span class="surveyNavPrev">
                <a class="surveyNav" href="javascript:void(0);">Go back</a>
              </span> |
              <span class="surveyNavNext">
                <a class="surveyNav" href="javascript:void(0);">Next</a>
              </span>
            <span class="surveyNavSub">
            </span>
          </div>

            <div class="hidden_page required_fields_error" data-msg="This question must be answered to continue. Thanks!"></div>
        </div> <!-- close page div -->
        <div class="hidden_page" id="page_6">
          <a name="PAGE_6"></a>
          <input id="page_6_next_page" name="next_page" type="hidden">
          <input id="page_6_prev_page" name="prev_page" type="hidden" value="5">
          <ul class="showList">
            <li class="outter">
                To submit your responses, please click "I am done!" below.
            </li>
          </ul>
          <div class="surveyNav">
              <span class="surveyNavPrev">
                <a class="surveyNav" href="javascript:void(0);">Go back</a>
              </span> |
            <span class="surveyNavSub">
                <input disabled="disabled" name="commit" type="submit" value="I am done!">
            </span>
          </div>

            <div class="hidden_page required_fields_error" data-msg="This question must be answered to continue. Thanks!"></div>
        </div> <!-- close page div -->
    </form>

    </div>
  {%- endif -%}

</div>
<div id="pagesurvey-ombnum"><a href="/notices#item-211334">Form Approved OMB#3090-0297 Exp. Date 07/31/2019</a></div>
<noscript> <iframe src="https://survey.usa.gov/surveys/251" title="Page usefulness survey"></iframe> </noscript>
<script type="text/javascript" src="https://survey.usa.gov/widget/widget.js?survey_id=251&target_id=pagesurvey-trgt"></script>
{% endif %}



{% if lang != 'en' %}
{# Gobierno page level survey #}
<h2 id="pagesurvey-hdr">¡Su opinión es importante para nosotros!</h2>
<div id="pagesurvey-trgt">

{%- if true -%}{#- Set to 'true' to view js generated survey or 'false' to see raw html source code #}
<iframe src="//survey.usa.gov/surveys/261/visit" style="display: none;" height="0" width="0" tabindex="-1" title="empty"></iframe>

  <form accept-charset="UTF-8" action="/survey_responses" class="voc-form" method="post"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="✓"><input name="authenticity_token" type="hidden" value="drlLq8i8N2nc2ou/GqQEy5InYccNZyND4tck46QDR2o="></div>
    <input id="stylesheet" name="stylesheet" type="hidden">
    <input id="survey_id" name="survey_id" type="hidden" value="261">
    <input id="survey_version_id" name="survey_version_id" type="hidden" value="1123">
    <input id="response_page_url" name="response[page_url]" type="hidden" value="https://gobierno.usa.gov/asistencia-alimentaria">

    <input id="response_device" name="response[device]" type="hidden" value="Desktop">
      <div class="current_page" id="page_1">
        <a name="PAGE_1"></a>
        <input id="page_1_next_page" name="next_page" type="hidden" value="2">
        <input id="page_1_prev_page" name="prev_page" type="hidden" value="1">
        <ul class="showList">
          <li class="outter">
              <input id="response_raw_responses_attributes_0_question_content_id" name="response[raw_responses_attributes][0][question_content_id]" type="hidden" value="8425">
              <input class="required_question" id="q_8425_required" name="q_8425_required" type="hidden" value="false">

              <div class="vocquestiontext">
                  ¿Le ha sido útil esta página?
              </div>
                  <div class="vocradiosshort place_horiz">
                        <span class="vocradio"><input class="question_8425_answer" id="response_raw_responses_attributes_0_answer_27559" name="response[raw_responses_attributes][0][answer]" onclick="VOC.set_next_page(this, 1, 2);" type="radio" value="27559">
                        <label for="response_raw_responses_attributes_0_answer_27559">Sí</label></span>

                        <span class="vocradio"><input class="question_8425_answer" id="response_raw_responses_attributes_0_answer_27560" name="response[raw_responses_attributes][0][answer]" onclick="VOC.set_next_page(this, 1, 3);" type="radio" value="27560">
                        <label for="response_raw_responses_attributes_0_answer_27560">No</label></span>

                  </div>

          </li>
        </ul>
        <div class="surveyNav">
            <span class="surveyNavNext">
              <a class="surveyNav" href="javascript:void(0);">Continúe</a>
            </span>
          <span class="surveyNavSub">
          </span>
        </div>

          <div class="hidden_page required_fields_error" data-msg="Esta pregunta requiere una respuesta para continuar. Gracias."></div>
      </div> <!-- close page div -->
      <div class="hidden_page" id="page_2">
        <a name="PAGE_2"></a>
        <input id="page_2_next_page" name="next_page" type="hidden" value="4">
        <input id="page_2_prev_page" name="prev_page" type="hidden" value="1">
        <ul class="showList">
          <li class="outter">
              <input id="response_raw_responses_attributes_1_question_content_id" name="response[raw_responses_attributes][1][question_content_id]" type="hidden" value="8426">
              <input class="required_question" id="q_8426_required" name="q_8426_required" type="hidden" value="false">

              <div class="vocquestiontext">
                  Esta página me ha sido útil porque ...
              </div>
                  <div class="voccheckboxeslong place_vert">
                    <fieldset>
                      <legend><span class="legendText">Seleccione las opciones que apliquen:</span></legend>
                        <span class="voccheckbox"><input class="question_8426_answer" id="answer_27561" name="response[raw_responses_attributes][1][answer][]" type="checkbox" value="27561">
                        <label for="answer_27561">Tiene la información que necesito</label></span>
                        <br>
                        <span class="voccheckbox"><input class="question_8426_answer" id="answer_27562" name="response[raw_responses_attributes][1][answer][]" type="checkbox" value="27562">
                        <label for="answer_27562">Es confiable</label></span>
                        <br>
                        <span class="voccheckbox"><input class="question_8426_answer" id="answer_27563" name="response[raw_responses_attributes][1][answer][]" type="checkbox" value="27563">
                        <label for="answer_27563">Está al día</label></span>
                        <br>
                        <span class="voccheckbox"><input class="question_8426_answer" id="answer_27564" name="response[raw_responses_attributes][1][answer][]" type="checkbox" value="27564">
                        <label for="answer_27564">Es fácil de entender</label></span>
                        <br>
                        <span class="voccheckbox"><input class="question_8426_answer" id="answer_27565" name="response[raw_responses_attributes][1][answer][]" type="checkbox" value="27565">
                        <label for="answer_27565">Otro</label></span>
                        <br>
                    </fieldset>
                  </div>

          </li>
        </ul>
        <div class="surveyNav">
            <span class="surveyNavPrev">
              <a class="surveyNav" href="javascript:void(0);">Vuelva atrás</a>
            </span> |
            <span class="surveyNavNext">
              <a class="surveyNav" href="javascript:void(0);">Continúe</a>
            </span>
          <span class="surveyNavSub">
          </span>
        </div>

          <div class="hidden_page required_fields_error" data-msg="Esta pregunta requiere una respuesta para continuar. Gracias."></div>
      </div> <!-- close page div -->
      <div class="hidden_page" id="page_3">
        <a name="PAGE_3"></a>
        <input id="page_3_next_page" name="next_page" type="hidden" value="4">
        <input id="page_3_prev_page" name="prev_page" type="hidden" value="2">
        <ul class="showList">
          <li class="outter">
              <input id="response_raw_responses_attributes_2_question_content_id" name="response[raw_responses_attributes][2][question_content_id]" type="hidden" value="8427">
              <input class="required_question" id="q_8427_required" name="q_8427_required" type="hidden" value="false">

              <div class="vocquestiontext">
                  Esta página no me ha sido útil porque su contenido ...
              </div>
                  <div class="voccheckboxeslong place_vert">
                    <fieldset>
                      <legend><span class="legendText">Seleccione las opciones que apliquen:</span></legend>
                        <span class="voccheckbox"><input class="question_8427_answer" id="answer_27566" name="response[raw_responses_attributes][2][answer][]" type="checkbox" value="27566">
                        <label for="answer_27566">Tiene muy poca información</label></span>
                        <br>
                        <span class="voccheckbox"><input class="question_8427_answer" id="answer_27567" name="response[raw_responses_attributes][2][answer][]" type="checkbox" value="27567">
                        <label for="answer_27567">Tiene demasiada información</label></span>
                        <br>
                        <span class="voccheckbox"><input class="question_8427_answer" id="answer_27568" name="response[raw_responses_attributes][2][answer][]" type="checkbox" value="27568">
                        <label for="answer_27568">Es confuso</label></span>
                        <br>
                        <span class="voccheckbox"><input class="question_8427_answer" id="answer_27569" name="response[raw_responses_attributes][2][answer][]" type="checkbox" value="27569">
                        <label for="answer_27569">No es lo que esperaba encontrar</label></span>
                        <br>
                        <span class="voccheckbox"><input class="question_8427_answer" id="answer_27570" name="response[raw_responses_attributes][2][answer][]" type="checkbox" value="27570">
                        <label for="answer_27570">Otro</label></span>
                        <br>
                    </fieldset>
                  </div>

          </li>
        </ul>
        <div class="surveyNav">
            <span class="surveyNavPrev">
              <a class="surveyNav" href="javascript:void(0);">Vuelva atrás</a>
            </span> |
            <span class="surveyNavNext">
              <a class="surveyNav" href="javascript:void(0);">Continúe</a>
            </span>
          <span class="surveyNavSub">
          </span>
        </div>

          <div class="hidden_page required_fields_error" data-msg="Esta pregunta requiere una respuesta para continuar. Gracias."></div>
      </div> <!-- close page div -->
      <div class="hidden_page" id="page_4">
        <a name="PAGE_4"></a>
        <input id="page_4_next_page" name="next_page" type="hidden" value="5">
        <input id="page_4_prev_page" name="prev_page" type="hidden" value="3">
        <ul class="showList">
          <li class="outter">
              <input id="response_raw_responses_attributes_3_question_content_id" name="response[raw_responses_attributes][3][question_content_id]" type="hidden" value="8428">
              <input class="required_question" id="q_8428_required" name="q_8428_required" type="hidden" value="false">

              <div class="vocquestiontext">
                  ¿Le gustaría compartir con nosotros alguna sugerencia sobre cómo podemos mejorar esta página?
              </div>
                  <div class="vocradiosshort place_horiz">
                        <span class="vocradio"><input class="question_8428_answer" id="response_raw_responses_attributes_3_answer_27571" name="response[raw_responses_attributes][3][answer]" onclick="VOC.set_next_page(this, 4, 5);" type="radio" value="27571">
                        <label for="response_raw_responses_attributes_3_answer_27571">Sí</label></span>

                        <span class="vocradio"><input class="question_8428_answer" id="response_raw_responses_attributes_3_answer_27572" name="response[raw_responses_attributes][3][answer]" onclick="VOC.set_next_page(this, 4, 6);" type="radio" value="27572">
                        <label for="response_raw_responses_attributes_3_answer_27572">No</label></span>

                  </div>

          </li>
        </ul>
        <div class="surveyNav">
            <span class="surveyNavPrev">
              <a class="surveyNav" href="javascript:void(0);">Vuelva atrás</a>
            </span> |
            <span class="surveyNavNext">
              <a class="surveyNav" href="javascript:void(0);">Continúe</a>
            </span>
          <span class="surveyNavSub">
          </span>
        </div>

          <div class="hidden_page required_fields_error" data-msg="Esta pregunta requiere una respuesta para continuar. Gracias."></div>
      </div> <!-- close page div -->
      <div class="hidden_page" id="page_5">
        <a name="PAGE_5"></a>
        <input id="page_5_next_page" name="next_page" type="hidden" value="6">
        <input id="page_5_prev_page" name="prev_page" type="hidden" value="4">
        <ul class="showList">
          <li class="outter">
              <input id="response_raw_responses_attributes_4_question_content_id" name="response[raw_responses_attributes][4][question_content_id]" type="hidden" value="8429">
              <input class="required_question" id="q_8429_required" name="q_8429_required" type="hidden" value="false">

              <div class="vocquestiontext">
                  <label for="response_raw_responses_attributes_4_answer">Muchas gracias. ¿Cómo podemos mejorar esta página?</label>
              </div>
                  <span class="voctextarea"><textarea class="text_question_area question_8429_answer" id="response_raw_responses_attributes_4_answer" name="response[raw_responses_attributes][4][answer]"></textarea></span>
          </li>
        </ul>
        <div class="surveyNav">
            <span class="surveyNavPrev">
              <a class="surveyNav" href="javascript:void(0);">Vuelva atrás</a>
            </span> |
            <span class="surveyNavNext">
              <a class="surveyNav" href="javascript:void(0);">Continúe</a>
            </span>
          <span class="surveyNavSub">
          </span>
        </div>

          <div class="hidden_page required_fields_error" data-msg="Esta pregunta requiere una respuesta para continuar. Gracias."></div>
      </div> <!-- close page div -->
      <div class="hidden_page" id="page_6">
        <a name="PAGE_6"></a>
        <input id="page_6_next_page" name="next_page" type="hidden">
        <input id="page_6_prev_page" name="prev_page" type="hidden" value="5">
        <ul class="showList">
          <li class="outter">
              Para terminar, por favor haga clic en el botón "Enviar respuestas¨. Muchas gracias.
          </li>
        </ul>
        <div class="surveyNav">
            <span class="surveyNavPrev">
              <a class="surveyNav" href="javascript:void(0);">Vuelva atrás</a>
            </span> |
          <span class="surveyNavSub">
              <input disabled="disabled" name="commit" type="submit" value="Enviar respuestas">
          </span>
        </div>

          <div class="hidden_page required_fields_error" data-msg="Esta pregunta requiere una respuesta para continuar. Gracias."></div>
      </div> <!-- close page div -->
</form>

</div>
{%- endif -%}

<div id="pagesurvey-ombnum"><a href="/avisos-sitio-web">Cuestionario aprobado OMB#3090-0297 Fecha de vencimiento 31 julio, 2019</a></div>
<noscript> <iframe src="https://survey.usa.gov/surveys/261" title="Cuestionario de utilidad de página web"></iframe> </noscript>
<script type="text/javascript" src="https://survey.usa.gov/widget/widget.js?survey_id=261&amp;target_id=pagesurvey-trgt"></script>
{% endif %}
