<article>
<ul class="usa-accordion-bordered">
  <li class="transcript_img">
    <button class="usa-accordion-button" data-toggledText="Hide the Video Transcript" data-initialText="Show the Video Transcript"
      aria-expanded="false" aria-controls="amendment-b-1">
      Show the Video Transcript
    </button>
    <div id="amendment-b-1" class="usa-accordion-content">
      <p> <span class="speaker">[Narrator]</span> There's no "normal" or "standard" way to describe all the individuals who make up our society. And there's no single profile of people who use the Internet. Almost everyone uses it, and they use it all the time.<br>
            <br>
            <span class="speaker">[Wendy]</span> Well, it's just to participate in society. More of what we're doing is online. You know, the way that we're interacting with people; the way that we're buying our groceries; the way that we're working, learning, paying our taxes. You know, it's all very important stuff.<br>
            <br>
            <span class="speaker">[Student]</span> Hey, look at this.<br>
            <br>
            <span class="speaker">[Narrator]</span> Not everyone will access your site using a keyboard, a mouse, and a monitor. Some people will be using cell phones or touch screens. Others may access the web using refreshable Braille devices or computer-generated speech for output.<br>
            <br>
          </p>
    </div>
  </li>
</ul>
</article>
