{#
_business-search.twig extends _page.twig

This is an empty page.
Copy this file as a starting point for new pages.
Edit the contents of "block content"

#}


{% extends "partials/_page.twig" %}

{% block content %}

<main id="content" role="main">
  <div class="container clearfix">
    <div class="term-listing-heading">

			{% include '01-Modules/left-nav.twig' %}

			<div class="col-md-9 col-sm-12 rightnav">
				<header>
	        <h1>Small Business Keyword Search</h1>
				</header>

				<article>
					<p>Search pages from twenty-four handpicked U.S. government websites with information helpful to small business owners.</p>

					<div id="cntctbx" class="no-icon">
						<h2>Find Tools and Resources for Small Businesses</h2>
						<p>
							Enter keywords or a topic to get results from federal agencies and programs that work with small businesses.
						</p>
						<form
							action="https://search.usa.gov/search"
							method="get"
							name="business_search_form"
							accept-charset="UTF-8"
							class="usa-search usa-search-small"
							onsubmit="if(!document.business_search_form.query.value.includes('business'))document.business_search_form.query.value+=' business'"
						>
			        <div role="search">
			          <label class="usa-sr-only" for="business-search">Search</label>
			          <input id="affiliate" name="affiliate" type="hidden" value="usagov-business">
								<input id="business-search" type="search" name="query" placeholder="Search Government Sites on Business" onfocus="this.placeholder = ''" class="usagov-search-autocomplete" autocomplete="off" role="textbox" aria-autocomplete="list" aria-haspopup="false">
			          <button type="submit">
			            <span class="usa-sr-only">Search</span>
			          </button>
			        </div>
			      </form>
					</div>

					<p> To ensure better results, the box will automatically add the word “business” when you submit your search terms.  You can change it on the results page if you wish.</p>
					<p>This search box returns results from websites by the following U.S. agencies, divisions, and programs:</p>
					<ul class="compact-list !important;" style="margin-bottom:0em">
						<li><a href="https://www.healthcare.gov/small-businesses">Centers for Medicare &amp; Medicaid Services</a></li>
						<li><a href="https://www.doleta.gov">Employment and Training Administration</a></li>
						<li><a href="https://www.ftc.gov/tips-advice/business-center">Federal Trade Commission</a></li>
						<li><a href="https://www.gsa.gov">General Services Administration</a></li>
						<li><a href="https://www.govloans.gov">GovLoans</a></li>
						<li><a href="https://www.irs.gov/businesses/small-businesses-self-employed">Internal Revenue Service</a></li>
						<li><a href="https://www.mbda.gov">Minority Business Development Agency</a></li>
						<li><a href="https://www.osha.gov">Occupational Safety and Training Administration</a></li>
						<li><a href="https://www.rd.usda.gov/programs-services">Rural Development</a></li>
						<li><a href="https://www.sba.gov">Small Business Administration</a></li>
						<li><a href="https://www.sam.gov">System for Award Management</a></li>
						<li><a href="https://www.census.gov">U.S. Census Bureau</a></li>
						<li><a href="https://www.uscis.gov/e-verify/employers">U.S. Citizenship and Immigration Services</a></li>
						<li><a href="https://www.cbp.gov">U.S. Customs and Border Protection</a></li>
						<li><a href="https://www.aphis.usda.gov/aphis/home">U.S. Department of Agriculture</a></li>
						<li><a href="https://www.export.gov">U.S. Department of Commerce</a></li>
						<li><a href="http://www.acq.osd.mil/osbp/">U.S. Department of Defense</a></li>
						<li><a href="https://www.dhs.gov/how-do-i/for-businesses">U.S. Department of Homeland Security</a></li>
						<li><a href="https://www.dol.gov/general/topic/hiring">U.S. Department of Labor</a></li>
						<li><a href="https://www.treasury.gov/resource-center/sb-programs">U.S. Department of the Treasury</a></li>
						<li><a href="https://www.va.gov">U.S. Department of Veterans Affairs</a></li>
						<li><a href="https://www.uspto.gov">U.S. Patent and Trademark Office</a></li>
						<li><a href="/">USAGov</a></li>
						<li><a href="https://www.vip.vetbiz.gov/">VA Office of Small &amp; Disadvantaged Business Utilization</a></li>
					</ul>
					<br>

					{% include 'partials/_smshare.twig' %}

					<p class="volver clearfix">
						<a href="#skiptarget">
							<span class="icon-backtotop-dwnlvl">Back to Top</span>
						</a>
					</p>

				</article>

				{% include '01-Modules/contact-box.twig' %}
				{% include '01-Modules/page-survey.twig' %}

    	</div>
		</div>
  </div>
</main>


{% endblock content %}
