
{% extends "partials/_page.twig" %}

{% block content %}

<main id="content" role="main">
  <div class="container clearfix">
    <article>
      <div id="facetedsearch">
        <div class="clearfix">
          <div class="term-listing-heading">
            <header>
              <h1>Find Opportunities to Contract with the Federal Government (Beta)</h1>
            </header>
            <p>The Contracting Opportunity Finder (Beta)<span class="tooltip-left" role="tooltip"  tabindex="0"> <img class="tooltip-icon-beta" src="https://www.usa.gov/sites/all/themes/usa/images/Icon_Tooltip.png" alt="tooltip" aria-hidden="true"><span class="tooltip-left-text">Beta means we’re still developing the tool, so it will likely change.</span></span> can help your small and/or disadvantaged business learn about opportunities to contract with federal agencies. This tool searches for opportunities that are currently open or may be open soon. It’s geared to businesses new to federal contracting.</p>
            <ul class="introlist">
              <li><a href="/understand-contracting-terms">Visit the glossary page</a> to learn about common terms and to see if your company qualifies as a small and/or disadvantaged business. </li>
              <li>Explore The <a href="/government-contracting-for-beginners">Beginner's Guide  to Government Contracting</a>.</li>
            </ul>
            <header>
              <h2>Get Started</h2>
            </header>
            <p>On this page, you’ll find four different filters you can use to search for contracting opportunities that are right for your business. You can choose to use some or all of the filters, but you must leave at least one box checked in the “Filter by Special Business Label” section. Once you’ve chosen your filters and entered your information, click the “Apply Selected Filters” button to display your results. When you find an opportunity that interests you, select “Description of Opportunity” in the result. Then, follow the link to read the agency’s solicitation on <a href="https://www.fbo.gov/">FedBizOpps</a>. </p>
            <p>* A field with an asterisk (*) before it is a required field. </p>
            <form name="facetedSearchForm" action="https://search.usa.gov/search" method="get" accept-charset="UTF-8" class="" onsubmit="return validateForm(true)">
              <section>
                <div class="container usa-grid">
                  <div class="all-btn" role="tablist" contenteditable="true">
                    <button class="usa-button-big usa-accordion-toggle-all openall-text" data-toggledText="Close All Filters" aria-expanded="false" aria-controls="facetedSearchAccordion" type="button">Open All Filters</button>
                  </div>
                  <div class="section-box">
                    <div class="usa-grid">
                      <div id="facetedSearchAccordion" class="usa-accordion">
                        <ul class="" >
                          <li class="filter-box">
                            <button class="usa-accordion-button" aria-expanded="false" aria-controls="filter1" type="button">Filter by Keyword</button>
                            <div id="filter1" class="usa-accordion-content">
                              <p>Search for opportunities using keywords. For example, you can enter terms like “building construction” or “national security.” This will search all words and numbers in a solicitation, including agency names, ZIP codes, NAICS codes, and set-aside types.</p>
                              <div role="search">
                                <label for="business-search">Search</label>
                                <input id="faceted" name="faceted" type="hidden" value="usagov-business">
                                <input id="business-search" type="search" name="query" role="textbox" placeholder="Enter Keywords"  >
                                <!-- <button type="submit"> <span class="usa-sr-only">Search</span> </button>-->
                              </div>
                            </div>
                          </li>
                          <li class="filter-box">
                            <button class="usa-accordion-button" aria-controls="filter2" type="button">Filter by Location</button>
                            <div id="filter2" class="usa-accordion-content">
                              <div class="state-select">
                                <label for="stateselect"> Find your state or territory: </label>
                              </div>
                              <div class="custom-select">
                                <select id="stateselect" name="stateselect">
                                  <option value="">Select</option>
                                  <option value="http://governor.alabama.gov/contact/">Alabama</option>
                                  <option value="http://gov.alaska.gov/Walker/contact/email-the-governor.html">Alaska</option>
                                  <option value="https://www.americansamoa.gov/office-of-the-governor">American Samoa</option>
                                  <option value="http://azgovernor.gov/governor/engage">Arizona</option>
                                  <option value="http://www.governor.arkansas.gov/contact-info">Arkansas</option>
                                  <option value="https://govapps.gov.ca.gov/gov39mail/">California</option>
                                  <option value="https://www.colorado.gov/governor/contact">Colorado</option>
                                  <option value="http://portal.ct.gov/governor">Connecticut</option>
                                  <option value="http://governor.delaware.gov/contact-connect/">Delaware</option>
                                  <option value="http://mayor.dc.gov/">District of Columbia</option>
                                  <option value="http://www.fsmgov.org/ngovt.html">Federated States of Micronesia</option>
                                  <option value="http://www.flgov.com/contact-governor/">Florida</option>
                                  <option value="http://www.gov.georgia.gov/contact-us-0">Georgia</option>
                                  <option value="http://governor.guam.gov/">Guam</option>
                                  <option value="http://governor.hawaii.gov/contact-us/contact-the-governor/">Hawaii</option>
                                  <option value="http://www.gov.idaho.gov/">Idaho</option>
                                  <option value="http://www2.illinois.gov/gov/Pages/default.aspx">Illinois</option>
                                  <option value="http://www.in.gov/gov/">Indiana</option>
                                  <option value="http://www.governor.iowa.gov/">Iowa</option>
                                  <option value="http://www.governor.ks.gov/">Kansas</option>
                                  <option value="http://kentucky.gov/government/Pages/AgencyProfile.aspx?AgencyTitle=Governor">Kentucky</option>
                                  <option value="http://gov.louisiana.gov/">Louisiana</option>
                                  <option value="http://www.maine.gov/governor/lepage/index.shtml">Maine</option>
                                  <option value="http://www.governor.maryland.gov/">Maryland</option>
                                  <option value="http://www.mass.gov/governor/">Massachusetts</option>
                                  <option value="http://www.michigan.gov/snyder">Michigan</option>
                                  <option value="http://www.mn.gov/governor/contact-us/">Minnesota</option>
                                  <option value="http://www.governorbryant.com/">Mississippi</option>
                                  <option value="http://governor.mo.gov/">Missouri</option>
                                  <option value="http://governor.mt.gov/">Montana</option>
                                  <option value="https://governor.nebraska.gov/">Nebraska</option>
                                  <option value="http://gov.nv.gov/">Nevada</option>
                                  <option value="http://www.governor.nh.gov/">New Hampshire</option>
                                  <option value="http://www.state.nj.us/governor/">New Jersey</option>
                                  <option value="http://www.governor.state.nm.us/">New Mexico</option>
                                  <option value="http://www.governor.ny.gov/">New York</option>
                                  <option value="http://governor.nc.gov/contact-governor-cooper">North Carolina</option>
                                  <option value="https://www.governor.nd.gov/">North Dakota</option>
                                  <option value="http://gov.mp/contact-us/">Northern Mariana Islands</option>
                                  <option value="http://www.governor.ohio.gov/">Ohio</option>
                                  <option value="http://www.ok.gov/governor/">Oklahoma</option>
                                  <option value="http://www.oregon.gov/gov/pages/index.aspx">Oregon</option>
                                  <option value="http://www.governor.pa.gov/Pages/default.aspx#.VSPgnfnF-aU">Pennsylvania</option>
                                  <option value="http://www.fortaleza.pr.gov/#main">Puerto Rico</option>
                                  <option value="http://www.governor.ri.gov/">Rhode Island</option>
                                  <option value="http://www.governor.sc.gov/Pages/default.aspx">South Carolina</option>
                                  <option value="http://sd.gov/governor/">South Dakota</option>
                                  <option value="http://www.tn.gov/governor/">Tennessee</option>
                                  <option value="http://gov.texas.gov/">Texas</option>
                                  <option value="http://www.vi.gov/governor.html">U S Virgin Islands</option>
                                  <option value="http://www.utah.gov/government/governor.html">Utah</option>
                                  <option value="http://governor.vermont.gov/contact">Vermont</option>
                                  <option value="https://governor.virginia.gov/">Virginia</option>
                                  <option value="http://www.governor.wa.gov/">Washington</option>
                                  <option value="http://www.governor.wv.gov/Pages/default.aspx">West Virginia</option>
                                  <option value="http://walker.wi.gov/">Wisconsin</option>
                                  <option value="http://governor.wyo.gov/">Wyoming</option>
                                </select>
                              </div>
                            </div>
                          </li>
                          <li class="filter-box">
                            <button class="usa-accordion-button" aria-controls="filter3" type="button"> Filter by Posted Date</button>
                            <div id="filter3" class="usa-accordion-content usa-input-error no-error no-future-date-error">
                              <p> Select a date to view opportunities that have been posted on and after that date. You must select a day, month, and year before today’s date.</p>
                              <!--<span class="usa-input-error-message" id="date-error-message" role="alert">Error: You must select a date that includes a month, day, and year to search by posted date.</span> --><span id="future-date-error-message" class="usa-input-error-message future-date-error-message" role="alert">Error: You must select a date in the past to search by posted date.</span>
                              <div class="col-md-4 col-sm-6 col-xs-12 usa-input-error no-error">
                                <label for="monthselect">Month</label>
                                <span class="usa-input-error-message" id="month-error-message" role="alert">Error: To search by posted date, you must select a month</span>
                                <div class="posted-select">
                                  <select id="monthselect" name="monthselect" aria-describedby="month-error-message">
                                    <option value="">Select</option>
                                    <option value="January">January</option>
                                    <option value="February">February</option>
                                    <option value="March">March</option>
                                    <option value="April">April</option>
                                    <option value="May">May</option>
                                    <option value="June">June</option>
                                    <option value="July">July</option>
                                    <option value="August">August</option>
                                    <option value="September">September</option>
                                    <option value="October">October</option>
                                    <option value="November">November</option>
                                    <option value="December">December</option>
                                  </select>
                                </div>
                              </div>
                              <div class="col-md-4 col-sm-6 col-xs-12 usa-input-error no-error">
                                <label for="dayselect">Day</label>
                                <span class="usa-input-error-message" id="day-error-message" role="alert" aria-describedby="day-error-message">Error: To search by posted date, you must select a day</span>
                                <div class="posted-select">
                                  <select id="dayselect" name="dayselect" aria-describedby="day-error-message">
                                    <option value="">Select</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                    <option value="7">7</option>
                                    <option value="8">8</option>
                                    <option value="9">9</option>
                                    <option value="10">10</option>
                                    <option value="11">11</option>
                                    <option value="12">12</option>
                                    <option value="13">13</option>
                                    <option value="14">14</option>
                                    <option value="15">15</option>
                                    <option value="16">16</option>
                                    <option value="17">17</option>
                                    <option value="18">18</option>
                                    <option value="19">19</option>
                                    <option value="20">20</option>
                                    <option value="21">21</option>
                                    <option value="22">22</option>
                                    <option value="23">23</option>
                                    <option value="24">24</option>
                                    <option value="25">25</option>
                                    <option value="26">26</option>
                                    <option value="27">27</option>
                                    <option value="28">28</option>
                                    <option value="29">29</option>
                                    <option value="30">30</option>
                                    <option value="31">31</option>
                                  </select>
                                </div>
                              </div>
                              <div class="col-md-4 col-sm-6 col-xs-12 usa-input-error no-error">
                                <label for="yearselect">Year</label>
                                <span class="usa-input-error-message" id="year-error-message" role="alert" aria-describedby="year-error-message">Error: To search by posted date, you must select a year</span>
                                <div class="posted-select">
                                  <select id="yearselect" name="yearselect" aria-describedby="year-error-message">
                                    <option value="">Select</option>
                                    <option value="2005">2005</option>
                                    <option value="2006">2006</option>
                                    <option value="2007">2007</option>
                                    <option value="2008">2008</option>
                                    <option value="2009">2009</option>
                                    <option value="2010">2010</option>
                                    <option value="2011">2011</option>
                                    <option value="2012">2012</option>
                                    <option value="2013">2013</option>
                                    <option value="2014">2014</option>
                                    <option value="2015">2015</option>
                                    <option value="2016">2016</option>
                                    <option value="2017">2017</option>
                                    <option value="2018">2018</option>
                                  </select>
                                </div>
                              </div>
                            </div>
                          </li>
                          <li class="filter-box">
                            <button class="usa-accordion-button setaside" aria-controls="filter4" type="button"> Filter by Special Label (Set-Aside Type)</button>
                            <div id="filter4" class="usa-accordion-content tltp usa-input-error no-error"> <span id="setaside-error-message" class="usa-input-error-message" role="alert">Attention. At least one Special Business Label (Set-Aside) box must be checked in order to possibly get results.</span>
                              <p><strong>Uncheck any special label (set-aside type) that does not describe your business. You must leave at least one box checked. This will search for open opportunities that are “set aside” for businesses that qualify for these special labels.</strong> </p>
                              <fieldset class="usa-fieldset-inputs usa-sans">
                                <legend class="lgd">*Select at least one Set-Aside Type</legend>
                                <ul class="usa-unstyled-list dwnlvl">
                                  <li class="ttli usa-width-one-half">
                                    <input id="8a" type="checkbox" name="filterby-special-business-label-setasidetype" value="8a"  checked aria-describedby="setaside-error-message">
                                    <label for="8a">Competitive 8(a) </label>
                                    <span class="tooltip" role="tooltip" tabindex="0"><img class="tooltip-icon" src="https://www.usa.gov/sites/all/themes/usa/images/Icon_Tooltip.png" alt="Help for Competitive 8 a" aria-hidden="true" ><span aria-label="tooltip - For small socially and economically disadvantaged businesses. Must apply through SBA."></span><span class="tooltiptext">For small socially and economically disadvantaged businesses. Must apply through SBA.</span></span> </li>
                                  <li class="ttli usa-width-one-half">
                                    <input id="ecosmbiz" type="checkbox" name="filterby-special-business-label-setasidetype" value="ecosmbiz" checked aria-describedby="setaside-error-message">
                                    <label for="ecosmbiz"> Economically Disadvantaged Woman Owned Small Business </label>
                                    <span class="tooltip" role="tooltip" tabindex="0"><img class="tooltip-icon" src="https://www.usa.gov/sites/all/themes/usa/images/Icon_Tooltip.png" alt="Help for Economically Disadvantaged Women-Owned Small Business" aria-hidden="true" ><span aria-label="tooltip - For small businesses owned by economically disadvantaged women. Must be certified through SBA."></span><span class="tooltiptext">For small businesses owned by economically disadvantaged women. Must be certified through SBA.</span></span> </li>
                                  <li class="ttli usa-width-one-half">
                                    <input id="emergingbiz" type="checkbox" name="filterby-special-business-label-setasidetype" value="emergingbiz" checked aria-describedby="setaside-error-message">
                                    <label for="emergingbiz"> Emerging Small Business</label>
                                    <span class="tooltip" role="tooltip" tabindex="0"><img class="tooltip-icon" src="https://www.usa.gov/sites/all/themes/usa/images/Icon_Tooltip.png" alt="Help for Emerging Small Business " aria-hidden="true" ><span aria-label="Tooltip - For very small businesses. Must meet SBA size standards."></span><span class="tooltiptext">For very small businesses. Must meet SBA size standards.</span></span> </li>
                                  <li class="ttli usa-width-one-half">
                                    <input id="hbcu" type="checkbox" name="filterby-special-business-label-setasidetype" value="hbcu" checked aria-describedby="setaside-error-message">
                                    <label for="hbcu"> HBCU/MI</label>
                                    <span class="tooltip" role="tooltip" tabindex="0"><img class="tooltip-icon" src="https://www.usa.gov/sites/all/themes/usa/images/Icon_Tooltip.png" alt="Help for HBCU/MI" aria-hidden="true" ><span aria-label="Tooltip - For historically black or minority institutions. Must be identified by U.S. Dept. of Education."></span><span class="tooltiptext">For historically black or minority institutions. Must be identified by U.S. Dept. of Education.</span></span> </li>
                                  <li class="ttli usa-width-one-half">
                                    <input id="hubzone" type="checkbox" name="filterby-special-business-label-setasidetype"  value="hubzone" checked aria-describedby="setaside-error-message">
                                    <label for="hubzone"> HUBZone</label>
                                    <span class="tooltip" role="tooltip" tabindex="0"> <img class="tooltip-icon" src="https://www.usa.gov/sites/all/themes/usa/images/Icon_Tooltip.png" alt="tooltip -For small businesses in specific rural and urban communities. Must apply through SBA." ><span aria-label="Tooltip - For small businesses in specific rural and urban communities. Must apply through SBA."></span><span class="tooltiptext">For small businesses in specific rural and urban communities. Must apply through SBA.</span></span> </li>
                                  <li class="ttli usa-width-one-half">
                                    <input id="indianeco" type="checkbox" name="filterby-special-business-label-setasidetype" value="indianeco" checked aria-describedby="setaside-error-message">
                                    <label for="indianeco"> Indian Economic Enterprises</label>
                                    <span class="tooltip" role="tooltip" tabindex="0"><img class="tooltip-icon" src="https://www.usa.gov/sites/all/themes/usa/images/Icon_Tooltip.png" alt="Help for Indian Economic Enterprises" aria-hidden="true" ><span aria-label="Tooltip - For businesses owned by American Indians. Must be member of federally recognized tribe or Native village."></span><span class="tooltiptext">For businesses owned by American Indians. Must be member of federally recognized tribe or Native village.</span></span> </li>
                                </ul>
                                <ul class="usa-unstyled-list dwnlvl">
                                  <li class="ttli usa-width-one-half">
                                    <input id="indiansmbiz" type="checkbox" name="filterby-special-business-label-setasidetype" value="indiansmbiz" checked aria-describedby="setaside-error-message">
                                    <label for="indiansmbiz"> Indian Small Business Economic Enterprises </label>
                                    <span class="tooltip" role="tooltip"  tabindex="0"><img class="tooltip-icon" src="https://www.usa.gov/sites/all/themes/usa/images/Icon_Tooltip.png" alt="Help for Indian Small Business Economic Enterprises" aria-hidden="true" ><span aria-label="Tooltip - For small businesses owned by American Indians. Must be member of federally recognized tribe or Native village."></span><span class="tooltiptext">For small businesses owned by American Indians. Must be member of federally recognized tribe or Native village.</span></span> </li>
                                  <li class="ttli usa-width-one-half">
                                    <input id="sdvosmbiz" type="checkbox" name="filterby-special-business-label-setasidetype" value="sdvosmbiz" checked aria-describedby="setaside-error-message">
                                    <label for="sdvosmbiz"> Service-Disabled Veteran-Owned Small Business </label>
                                    <span class="tooltip" role="tooltip" tabindex="0"><img class="tooltip-icon" src="https://www.usa.gov/sites/all/themes/usa/images/Icon_Tooltip.png" alt="Help for Service-Disabled Veteran-Owned Small Business" aria-hidden="true" ><span aria-label="Tooltip - For small businesses owned by service-disabled veterans. Must be verified through VA."></span><span class="tooltiptext">For small businesses owned by service-disabled veterans. Must be verified through VA.</span></span> </li>
                                  <li class="ttli usa-width-one-half">
                                    <input id="smbiz" type="checkbox" name="filterby-special-business-label-setasidetype" value="smbiz" checked aria-describedby="setaside-error-message">
                                    <label for="smbiz"> Small Business </label>
                                    <span class="tooltip" role="tooltip" tabindex="0"><img class="tooltip-icon" src="https://www.usa.gov/sites/all/themes/usa/images/Icon_Tooltip.png" alt="Help for Small Business" aria-hidden="true" ><span aria-label="Tooltip - For small businesses. Must meet SBA size standards."></span><span class="tooltiptext">For small businesses. Must meet SBA size standards.</span></span> </li>
                                  <li class="ttli usa-width-one-half">
                                    <input id="vetsmbiz" type="checkbox" name="filterby-special-business-label-setasidetype" value="vetsmbiz" title="Veteran-Owned Small Business" checked aria-describedby="setaside-error-message">
                                    <label for="vetsmbiz"> Veteran-Owned Small Business</label>
                                    <span class="tooltip" role="tooltip"  tabindex="0"><img class="tooltip-icon" src="https://www.usa.gov/sites/all/themes/usa/images/Icon_Tooltip.png" alt="Help for Veteran-Owned Small Business" aria-hidden="true"><span aria-label="Tooltip - For small businesses owned by veterans. Must be verified through VA."></span><span class="tooltiptext">For small businesses owned by veterans. Must be verified through VA.</span></span> </li>
                                  <li class="ttli usa-width-one-half">
                                    <input id="womensmbiz" type="checkbox" name="filterby-special-business-label-setasidetype" value="womensmbiz" checked aria-describedby="setaside-error-message">
                                    <label for="womensmbiz"> Woman Owned Small Business</label>
                                    <span class="tooltip" role="tooltip" tabindex="0"><img class="tooltip-icon" src="https://www.usa.gov/sites/all/themes/usa/images/Icon_Tooltip.png" alt="Help for Women-Owned Small Business" aria-hidden="true" ><span aria-label="Tooltip - For small businesses owned by women. Must be verified through SBA."></span><span class="tooltiptext">For small businesses owned by women. Must be verified through SBA.</span></span> </li>
                                  <li class="ttli  usa-width-one-half">
                                    <input id="addition" type="checkbox" name="addition" value="addition">
                                    <label for="addition"><strong>Opportunities with no Set-Aside Types</strong></label>
                                    <span class="tooltip" role="tooltip"  tabindex="0"><img class="tooltip-icon" src="https://www.usa.gov/sites/all/themes/usa/images/Icon_Tooltip.png" alt="Opportunities with NO Set-aside Types" aria-hidden="true"><span aria-label="Tooltip - Check these opportunities even if you qualify for a Set-aside type."></span><span class="tooltiptext">Check these opportunities even if you qualify for a Set-aside type.</span></span> </li>
                                </ul>
                              </fieldset>
                            </div>
                          </li>
                        </ul>
                      </div>
                    </div>
                    <div class="applycontainer">
                      <div class="button_wrapper">
                        <button class="usa-button-primary-alt" type="submit"  value="submit">Apply Selected Filters</button>
                        <button id="FacetedSearchReset" class="usa-button-outline clearbtn" type="reset" value="reset"> Clear Selected Filters</button>
                        <div class="usa-full"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </section>
            </form>
            <p class="volver clearfix bttop1"><a href="#skiptarget"><span class="icon-backtotop-dwnlvl">Back to Top</span></a></p>
            <section>
              <div class="usa-grid">
                <div>
                  <header>
                    <h2>Search Results</h2>
                  </header>
                  <div class="item-list2" id="nav-page" aria-labelledby="nav-page-label"> <span class="pager-dscrpt" id="nav-page-label">Viewing 2-5 of {XXXX} results</span>
                    <ul class="pagination" >
                      <li class="previous first" ><a title="Go to page 1" href="#" role="button"><img src="./sites/all/themes/usa/images/arrow_previous.png" alt="">previous</a></li>
                      <li class="pager-dscrpt2">Viewing 2-5 of {XXXX} results</li>
                      <li class="pager-item"><a title="Go to page 1" href="#"><span class="usa-sr-only">page</span>1</a></li>
                      <li class="current"> <span class="usa-sr-only">Curent page</span>2</li>
                      <li class="pager-item"><a title="Go to page 3" href="#"><span class="usa-sr-only">page</span>3</a></li>
                      <li class="pager-item"><a title="Go to page 4" href="#"><span class="usa-sr-only">page</span>4</a></li>
                      <li class="pager-item"><a title="Go to page 5" href="#"><span class="usa-sr-only">page</span>5</a></li>
                      <li class="pager-ellipsis">…</li>
                      <li class="next last"><a href="#" role="button">next<img src="./sites/all/themes/usa/images/arrow_next.png" alt=""></a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </section>
            <section>
              <div class="section-box">
                <div class="result-details">
                  <div class="result-details-column"> <span><strong><a href="#">Renovate Scheduled MX Hangar, Building 907 and REpair KC-135 Fuel Cell Hangear, Buildings 917/915 at Miagara Falls Air Reserve Station, New York</a> </strong><br>
                    TF15-PTEONXN </span> </div>
                  <div class="result-details-column">
                    <div><strong>Opportunity Type:</strong><br>
                      Presolicitation<span class="tooltip" role="tooltip"  tabindex="0"> <img class="tooltip-icon2" src="https://www.usa.gov/sites/all/themes/usa/images/Icon_Tooltip.png" alt="tooltip" aria-hidden="true" ><span class="tooltiptext">This is a notice about a future contract. It may ask interested businesses for information.</span><span aria-label="Tooltip - This is a notice about a future contract. It may ask interested businesses for information."></span></span> </div>
                    <div><strong>Setaside Type:</strong><br>
                      Woman-Owned Small Business <span class="tooltip" role="tooltip" tabindex="0"> <img class="tooltip-icon2" src="https://www.usa.gov/sites/all/themes/usa/images/Icon_Tooltip.png" alt="tooltip" aria-hidden="true" ><span class="tooltiptext">Tooltip text goes here.</span><span aria-label="Tooltip - Tooltip text goes here."></span></span> </div>
                    <div><strong>Open:</strong><br>
                      08/01/2017 to 08/01/2018 <span class="tooltip" role="tooltip" tabindex="0"> <img class="tooltip-icon2" src="https://www.usa.gov/sites/all/themes/usa/images/Icon_Tooltip.png" alt="tooltip" aria-hidden="true" ><span class="tooltiptext">Tooltip text goes here.</span><span class="tooltiptext">Tooltip text goes here.</span><span aria-label="Tooltip - Tooltip text goes here."></span></span> </div>
                  </div>
                  <div class="result-details-column">
                    <address>
                    <strong>Agency:</strong><br>
                    U.S. Department of Homeland Security<br>
                    <strong>Office:</strong><br>
                    Immigration & Customs Enforcement<br>
                    <strong>ZIP Code:</strong><br>
                    14301-8576<br>
                    <strong>State:</strong><br>
                    New York
                    </address>
                  </div>
                </div>
                <div class="usa-grid">
                  <div class="usa-width-one-whole">
                    <div class="usa-accordion">
                      <div class="filter-box">
                        <button class="usa-accordion-button"
      aria-expanded="false" aria-controls="result1"><span class="element-invisible">Describe each result of opportunity here </span>Description of Opportunity</button>
                        <div>
                          <div id="result1" class="usa-accordion-content">
                            <p>The National Institutes of Health intends to negotiate on a sole source basis with American Society for Nutrition, Bethesda, Md. The NIH Office Dietary of Supplement needs to obtain Annual subscription to American Society, pamplphlets. These pamphlets will allows benefit from early-bird editions of their morning newletters, customized news alets, access to our in-depth calendars and Pro-only events and more. This will be a 12-month contract. Please see the attached Statement of Work for further information.</p>
                            <p><strong><a href="#" target="_blank"><span class="element-invisible">The view contact and bid information for opportunity will open in a new window."</span>View full contact and bid information for the opportunity <span class="element-invisible">opportunity name goes here</span> </a></strong></p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </section>
            <p class="volver clearfix bttop"><a href="#skiptarget"><span class="icon-backtotop-dwnlvl">Back to Top</span></a></p>
            <section>
              <div class="section-box">
                <div class="result-details">
                  <div class="result-details-column"> <span><strong><a href="#">Renovate Scheduled MX Hangar, Building 907 and REpair KC-135 Fuel Cell Hangear, Buildings 917/915 at Miagara Falls Air Reserve Station, New York</a> </strong><br>
                    TF15-PTEONXN </span> </div>
                  <div class="result-details-column">
                    <div><strong>Opportunity Type:</strong><br>
                      Combined Synopsis/Solicitation <span class="tooltip" role="tooltip" tabindex="0"> <img class="tooltip-icon2" src="https://www.usa.gov/sites/all/themes/usa/images/Icon_Tooltip.png" alt="tooltip" aria-hidden="true" ><span class="tooltiptext">This is a description of a currently open contract.</span><span class="tooltiptext">Tooltip text goes here.</span><span aria-label="Tooltip - This is a description of a currently open contract."></span></span> </div>
                    <div><strong>Setaside Type:</strong><br>
                      Woman-Owned Small Business <span class="tooltip" role="tooltip"  tabindex="0"> <img class="tooltip-icon2" src="https://www.usa.gov/sites/all/themes/usa/images/Icon_Tooltip.png" alt="tooltip" aria-hidden="true"><span class="tooltiptext">Tooltip text goes here.</span><span class="tooltiptext">Tooltip text goes here.</span><span aria-label="Tooltip - Tooltip text goes here."></span></span> </div>
                    <div><strong>Open:</strong><br>
                      08/01/2017 to 08/01/2018 <span class="tooltip" role="tooltip" tabindex="0"> <img class="tooltip-icon2" src="https://www.usa.gov/sites/all/themes/usa/images/Icon_Tooltip.png" alt="tooltip" aria-hidden="true" ><span class="tooltiptext">Tooltip text goes here.</span><span class="tooltiptext">Tooltip text goes here.</span><span aria-label="Tooltip - Tooltip text goes here."></span></span> </div>
                  </div>
                  <div class="result-details-column">
                    <address>
                    <strong>Agency:</strong><br>
                    U.S. Department of Homeland Security<br>
                    <strong>Office:</strong><br>
                    Immigration & Customs Enforcement<br>
                    <strong>ZIP Code:</strong><br>
                    14301-8576<br>
                    <strong>State:</strong><br>
                    New York
                    </address>
                  </div>
                </div>
                <div class="usa-grid">
                  <div class="usa-width-one-whole">
                    <div class="usa-accordion">
                      <div class="filter-box">
                        <button class="usa-accordion-button"
      aria-expanded="false" aria-controls="result2"><span class="element-invisible">Describe each result of opportunity here</span>Description of Opportunity</button>
                        <div>
                          <div id="result2" class="usa-accordion-content">
                            <p>The National Institutes of Health intends to negotiate on a sole source basis with American Society for Nutrition, Bethesda, Md. The NIH Office Dietary of Supplement needs to obtain Annual subscription to American Society, pamplphlets. These pamphlets will allows benefit from early-bird editions of their morning newletters, customized news alets, access to our in-depth calendars and Pro-only events and more. This will be a 12-month contract. Please see the attached Statement of Work for further information.</p>
                            <p><strong><a href="#" target="_blank"><span class="element-invisible">The view contact and bid information for opportunity will open in a new window."</span>View full contact and bid information for the opportunity<span class="element-invisible">opportunity name goes here</span> </a></strong></p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </section>
            <p class="volver clearfix bttop"><a href="#skiptarget"><span class="icon-backtotop-dwnlvl">Back to Top</span></a></p>
            <section>
              <div class="section-box">
                <div class="result-details">
                  <div class="result-details-column"> <span><strong><a href="#">Renovate Scheduled MX Hangar, Building 907 and REpair KC-135 Fuel Cell Hangear, Buildings 917/915 at Miagara Falls Air Reserve Station, New York </a></strong><br>
                    TF15-PTEONXN </span> </div>
                  <div class="result-details-column">
                    <div><strong>Opportunity Type:</strong><br>
                      Sources Sought<span class="tooltip" role="tooltip" tabindex="0"> <img class="tooltip-icon2" src="https://www.usa.gov/sites/all/themes/usa/images/Icon_Tooltip.png" alt="tooltip" aria-hidden="true" ><span class="tooltiptext">This is a request for information about a potential contract. </span><span aria-label="Tooltip - This is a request for information about a potential contract."></span></span> </div>
                    <div><strong>Setaside Type:</strong><br>
                      Woman-Owned Small Business <span class="tooltip" role="tooltip" tabindex="0"> <img class="tooltip-icon2" src="https://www.usa.gov/sites/all/themes/usa/images/Icon_Tooltip.png" alt="tooltip" aria-hidden="true" ><span class="tooltiptext">Tooltip text goes here.</span><span aria-label="Tooltip - The tooltip text goes here."></span></span> </div>
                    <div><strong>Open:</strong><br>
                      08/01/2017 to 08/01/2018 <span class="tooltip" role="tooltip" tabindex="0"> <img class="tooltip-icon2" src="https://www.usa.gov/sites/all/themes/usa/images/Icon_Tooltip.png" alt="tooltip" aria-hidden="true" ><span class="tooltiptext">Tooltip text goes here.</span><span aria-label="Tooltip - The tooltip text goes here."></span></span> </div>
                  </div>
                  <div class="result-details-column">
                    <address>
                    <strong>Agency:</strong><br>
                    U.S. Department of Homeland Security<br>
                    <strong>Office:</strong><br>
                    Immigration & Customs Enforcement<br>
                    <strong>ZIP Code:</strong><br>
                    14301-8576<br>
                    <strong>State:</strong><br>
                    New York
                    </address>
                  </div>
                </div>
                <div class="usa-grid">
                  <div class="usa-width-one-whole">
                    <div class="usa-accordion">
                      <div class="filter-box">
                        <button class="usa-accordion-button"
      aria-expanded="false" aria-controls="result3"><span class="element-invisible">Describe each result of opportunity here</span>Description of Opportunity</button>
                        <!--<div class="section-box">-->
                        <div id="result3" class="usa-accordion-content">
                          <p>The National Institutes of Health intends to negotiate on a sole source basis with American Society for Nutrition, Bethesda, Md. The NIH Office Dietary of Supplement needs to obtain Annual subscription to American Society, pamplphlets. These pamphlets will allows benefit from early-bird editions of their morning newletters, customized news alets, access to our in-depth calendars and Pro-only events and more. This will be a 12-month contract. Please see the attached Statement of Work for further information.</p>
                          <p><strong><a href="#" target="_blank"><span class="element-invisible">The view contact and bid information for opportunity will open in a new window."</span>View full contact and bid information for the opportunity<span class="element-invisible">opportunity name goes here</span> </a></strong></p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </section>
            <section>
              <div class="usa-grid">
                <div>
                  <div class="item-list2" id="nav-page2" aria-labelledby="nav-page-label2"> <span class="pager-dscrpt" id="nav-page-label2">Viewing 2-5 of {XXXX} results</span>
                    <ul class="pagination" >
                      <li class="previous first" ><a title="Go to page 1" href="#" role="button"><img src="./sites/all/themes/usa/images/arrow_previous.png" alt="">previous</a></li>
                      <li class="pager-dscrpt2">Viewing 2-5 of {XXXX} results</li>
                      <li class="pager-item"><a title="Go to page 1" href="#"><span class="usa-sr-only">page</span>1</a></li>
                      <li class="current"> <span class="usa-sr-only">Curent page</span>2</li>
                      <li class="pager-item"><a title="Go to page 3" href="#"><span class="usa-sr-only">page</span>3</a></li>
                      <li class="pager-item"><a title="Go to page 4" href="#"><span class="usa-sr-only">page</span>4</a></li>
                      <li class="pager-item"><a title="Go to page 5" href="#"><span class="usa-sr-only">page</span>5</a></li>
                      <li class="pager-ellipsis">…</li>
                      <li class="next last"><a href="#" role="button">next<img src="./sites/all/themes/usa/images/arrow_next.png" alt="" ></a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </section>
            <p class="volver clearfix bttop"><a href="#skiptarget"><span class="icon-backtotop-dwnlvl">Back to Top</span></a></p>
          </div>
          <div class="col-md-12">

            {% include '01-Modules/contact-box.twig' %}

            <div class="plsurvey">
              {% include '01-Modules/page-survey.twig' %}
            </div>
          </div>
        </div>
      </div>
    </article>
  </div>
</main>


{% endblock content %}

{% block pageScripts %}
<script type="text/javascript" src="./sites/all/themes/usa/js/faceted-search.js"></script>
{% endblock pageScripts %}
