
{% extends "partials/_page.twig" %}

{% block pageStyles %}
<link rel="stylesheet" type="text/css" href="../../css/voter.css">
{% endblock pageStyles %}

{% block content %}

<main id="content" role="main">
  <div class="container clearfix usa-grid">
    <nav aria-label="Topic" class="col-md-3 leftnav">
      <section>
        <div class="shade">
          <header>
            <h2><a href="">Voting and Elections</a></h2>
          </header>
          <ul>
            <li itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><a href="/election" itemprop="url"><span itemprop="title">Election Process</span></a></li>
            <li itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><a href="/election-office" itemprop="url"><span itemprop="title">Find My Local Election Offices</span></a></li>
            <li itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><a><span itemprop="title">Voting and Registering to Vote</span></a></li>
            <li itemscope itemtype="http://data-vocabulary.org/Breadcrumb" class="slctd"><a><span itemprop="title">Voter Registration Deadline</span></a></li>
          </ul>
        </div>
      </section>
    </nav>
    <!---right container-->

    <div class="col-md-9 col-sm-12 rightnav">
      <header>
        <h1>Voter Registration Deadline </h1>
      </header>
      <table id="voteage">
        <caption>
        Listed by State
        </caption>
        <thead>
          <tr>
            <th scope="col">State</th>
            <th scope="col">Registration Deadline</th>
            <th scope="col">Election Day Registration</th>
            <th scope="col">&nbsp;</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">Alabama</th>
            <td>Postmarked 11 days before the election.</td>
            <td>You must register before the deadline.</td>
            <td><a href="https://register2.rockthevote.com/registrants/new/?state=AL&partner=1&source=rtv.com-voterregdeadlines">Alabama Online Voter Registration</a></td>
          </tr>
          <tr>
            <th scope="row">Alaska</th>
            <td>Received 30 days before the election.</td>
            <td>You must register before the deadline.</td>
            <td><a href="https://register2.rockthevote.com/registrants/new/?state=AK&partner=1&source=rtv.com-voterregdeadlines">Alaska Online Voter Registration</a></td>
          </tr>
          <tr>
            <th scope="row">Arizona</th>
            <td>Received 29 days before the election.</td>
            <td>You must register before the deadline.</td>
            <td><a href="https://register2.rockthevote.com/registrants/new/?state=AZ&partner=1&source=rtv.com-voterregdeadlines">Arizona Online Voter Registration</a></td>
          </tr>
          <tr>
            <th scope="row">Arkansas</th>
            <td>Postmarked 30 days before the election.</td>
            <td>You must register before the deadline.</td>
            <td><a href="https://register2.rockthevote.com/registrants/new/?state=AR&partner=1&source=rtv.com-voterregdeadlines">Arkansas Online Voter Registration</a></td>
          </tr>
          <tr>
            <th scope="row">California</th>
            <td>Postmarked 11 days before the election.</td>
            <td>You must register before the deadline.</td>
            <td><a href="https://register2.rockthevote.com/registrants/new/?state=CA&partner=1&source=rtv.com-voterregdeadlines">California Online Voter Registration</a></td>
          </tr>
          <tr>
            <th scope="row">Colorado</th>
            <td>Received 30 days before the election.</td>
            <td>You may also register in person on Election Day.</td>
            <td><a href="https://register2.rockthevote.com/registrants/new/?state=CO&partner=1&source=rtv.com-voterregdeadlines">Colorado Online Voter Registration</a></td>
          </tr>
          <tr>
            <th scope="row">Connecticut</th>
            <td>Received 29 days before the election.</td>
            <td>You may also register in person on Election Day.</td>
            <td><a href="https://register2.rockthevote.com/registrants/new/?state=CT&partner=1&source=rtv.com-voterregdeadlines">Connecticut Online Voter Registration</a></td>
          </tr>
          <tr>
            <th scope="row">Delaware</th>
            <td>Postmarked 30 days before the election.</td>
            <td>You must register before the deadline.</td>
            <td><a href="https://register2.rockthevote.com/registrants/new/?state=DE&partner=1&source=rtv.com-voterregdeadlines">Delaware Online Voter Registration</a></td>
          </tr>
          <tr>
            <th scope="row">District of Columbia</th>
            <td>Postmarked 11 days before the election.</td>
            <td>You may also register in person on Election Day as long as you can provide proof of residency.</td>
            <td><a href="https://register2.rockthevote.com/registrants/new/?state=DC&partner=1&source=rtv.com-voterregdeadlines">District of Columbia Online Voter Registration</a></td>
          </tr>
          <tr>
            <th scope="row">Florida</th>
            <td>Received 30 days before the election.</td>
            <td>You must register before the deadline.</td>
            <td><a href="https://register2.rockthevote.com/registrants/new/?state=FL&partner=1&source=rtv.com-voterregdeadlines">Florida Online Voter Registration</a></td>
          </tr>
          <tr>
            <th scope="row">Georgia</th>
            <td>Received 29 days before the election.</td>
            <td>You must register before the deadline.</td>
            <td><a href="https://register2.rockthevote.com/registrants/new/?state=GA&partner=1&source=rtv.com-voterregdeadlines">Georgia Online Voter Registration</a></td>
          </tr>
          <tr>
            <th scope="row">Hawaii</th>
            <td>Postmarked 30 days before the election.</td>
            <td>You must register before the deadline.</td>
            <td><a href="https://register2.rockthevote.com/registrants/new/?state=HI&partner=1&source=rtv.com-voterregdeadlines">Hawaii Online Voter Registration</a></td>
          </tr>
          <tr>
            <th scope="row">Idaho</th>
            <td>Postmarked 11 days before the election.</td>
            <td>You may also register in person on Election Day.</td>
            <td><a href="https://register2.rockthevote.com/registrants/new/?state=ID&partner=1&source=rtv.com-voterregdeadlines">Idaho Online Voter Registration</a></td>
          </tr>
          <tr>
            <th scope="row">Illinois</th>
            <td>Received 30 days before the election.</td>
            <td>You must register before the deadline.</td>
            <td><a href="https://register2.rockthevote.com/registrants/new/?state=IL&partner=1&source=rtv.com-voterregdeadlines">Illinois Online Voter Registration</a></td>
          </tr>
          <tr>
            <th scope="row">Indiana</th>
            <td>Received 29 days before the election.</td>
            <td>You must register before the deadline.</td>
            <td><a href="https://register2.rockthevote.com/registrants/new/?state=IN&partner=1&source=rtv.com-voterregdeadlines">Indiana Online Voter Registration</a></td>
          </tr>
          <tr>
            <th scope="row">Iowa</th>
            <td>Postmarked 30 days before the election.</td>
            <td>You may also register in person on Election Day.</td>
            <td><a href="https://register2.rockthevote.com/registrants/new/?state=IA&partner=1&source=rtv.com-voterregdeadlines">Iowa Online Voter Registration</a></td>
          </tr>
          <tr>
            <th scope="row">Kansas</th>
            <td>Postmarked 11 days before the election.</td>
            <td>You must register before the deadline.</td>
            <td><a href="https://register2.rockthevote.com/registrants/new/?state=KS&partner=1&source=rtv.com-voterregdeadlines">Kansas Online Voter Registration</a></td>
          </tr>
          <tr>
            <th scope="row">Kentucky</th>
            <td>Received 30 days before the election.</td>
            <td>You must register before the deadline.</td>
            <td><a href="https://register2.rockthevote.com/registrants/new/?state=KY&partner=1&source=rtv.com-voterregdeadlines">Kentucky Online Voter Registration</a></td>
          </tr>
          <tr>
            <th scope="row">Louisiana</th>
            <td>Received 29 days before the election.</td>
            <td>You must register before the deadline.</td>
            <td><a href="https://register2.rockthevote.com/registrants/new/?state=LA&partner=1&source=rtv.com-voterregdeadlines">Louisiana Online Voter Registration</a></td>
          </tr>
          <tr>
            <th scope="row">Maine</th>
            <td>Postmarked 30 days before the election.</td>
            <td>You may also register in person on Election Day.</td>
            <td><a href="https://register2.rockthevote.com/registrants/new/?state=ME&partner=1&source=rtv.com-voterregdeadlines">Maine Online Voter Registration</a></td>
          </tr>
          <tr>
            <th scope="row">Maryland</th>
            <td>Postmarked 11 days before the election.</td>
            <td>You must register before the deadline.</td>
            <td><a href="https://register2.rockthevote.com/registrants/new/?state=MD&partner=1&source=rtv.com-voterregdeadlines">Maryland Online Voter Registration</a></td>
          </tr>
          <tr>
            <th scope="row">Massachusetts</th>
            <td>Received 30 days before the election.</td>
            <td>You must register before the deadline.</td>
            <td><a href="https://register2.rockthevote.com/registrants/new/?state=MA&partner=1&source=rtv.com-voterregdeadlines">Massachusetts Online Voter Registration</a></td>
          </tr>
          <tr>
            <th scope="row">Michigan</th>
            <td>Received 29 days before the election.</td>
            <td>You must register before the deadline.</td>
            <td><a href="https://register2.rockthevote.com/registrants/new/?state=MI&partner=1&source=rtv.com-voterregdeadlines">Michigan Online Voter Registration</a></td>
          </tr>
          <tr>
            <th scope="row">Minnesota</th>
            <td>Postmarked 30 days before the election.</td>
            <td>You may also register in person on Election Day as long as you can provide proof of residency.</td>
            <td><a href="https://register2.rockthevote.com/registrants/new/?state=MN&partner=1&source=rtv.com-voterregdeadlines">Minnesota Online Voter Registration</a></td>
          </tr>
          <tr>
            <th scope="row">Mississippi</th>
            <td>Postmarked 11 days before the election.</td>
            <td>You must register before the deadline.</td>
            <td><a href="https://register2.rockthevote.com/registrants/new/?state=MS&partner=1&source=rtv.com-voterregdeadlines">Mississippi Online Voter Registration</a></td>
          </tr>
          <tr>
            <th scope="row">Missouri</th>
            <td>Received 30 days before the election.</td>
            <td>You must register before the deadline.</td>
            <td><a href="https://register2.rockthevote.com/registrants/new/?state=MO&partner=1&source=rtv.com-voterregdeadlines">Missouri Online Voter Registration</a></td>
          </tr>
          <tr>
            <th scope="row">Montana</th>
            <td>Received 29 days before the election.</td>
            <td>You may also register in person at the County Clerk's office on or before Election Day.</td>
            <td><a href="https://register2.rockthevote.com/registrants/new/?state=MT&partner=1&source=rtv.com-voterregdeadlines">Montana Online Voter Registration</a></td>
          </tr>
          <tr>
            <th scope="row">Nebraska</th>
            <td>Postmarked 30 days before the election.</td>
            <td>You must register before the deadline.</td>
            <td><a href="https://register2.rockthevote.com/registrants/new/?state=NE&partner=1&source=rtv.com-voterregdeadlines">Nebraska Online Voter Registration</a></td>
          </tr>
          <tr>
            <th scope="row">Nevada</th>
            <td>Postmarked 11 days before the election.</td>
            <td>You must register before the deadline.</td>
            <td><a href="https://register2.rockthevote.com/registrants/new/?state=NV&partner=1&source=rtv.com-voterregdeadlines">Nevada Online Voter Registration</a></td>
          </tr>
          <tr>
            <th scope="row">New Hampshire</th>
            <td>Received 30 days before the election.</td>
            <td>You may also register in person on Election Day.</td>
            <td></td>
          </tr>
          <tr>
            <th scope="row">New Jersey</th>
            <td>Received 29 days before the election.</td>
            <td>You must register before the deadline.</td>
            <td><a href="https://register2.rockthevote.com/registrants/new/?state=NJ&partner=1&source=rtv.com-voterregdeadlines">New Jersey Online Voter Registration</a></td>
          </tr>
          <tr>
            <th scope="row">New Mexico</th>
            <td>Postmarked 30 days before the election.</td>
            <td>You must register before the deadline.</td>
            <td><a href="https://register2.rockthevote.com/registrants/new/?state=NM&partner=1&source=rtv.com-voterregdeadlines">New Mexico Online Voter Registration</a></td>
          </tr>
          <tr>
            <th scope="row">New York</th>
            <td>Postmarked 11 days before the election.</td>
            <td>You must register before the deadline.</td>
            <td><a href="https://register2.rockthevote.com/registrants/new/?state=NY&partner=1&source=rtv.com-voterregdeadlines">New York Online Voter Registration</a></td>
          </tr>
          <tr>
            <th scope="row">North Carolina</th>
            <td>Received 30 days before the election.</td>
            <td>You can register in person and vote early during the &quot;one-stop&quot; voting period.</td>
            <td><a href="https://register2.rockthevote.com/registrants/new/?state=NC&partner=1&source=rtv.com-voterregdeadlines">North Carolina Online Voter Registration</a></td>
          </tr>
          <tr>
            <th scope="row">North Dakota</th>
            <td>N/A</td>
            <td>N/A</td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <th scope="row">Ohio</th>
            <td>Postmarked 30 days before the election.</td>
            <td>You must register before the deadline.</td>
            <td><a href="https://register2.rockthevote.com/registrants/new/?state=OH&partner=1&source=rtv.com-voterregdeadlines">Ohio Online Voter Registration</a></td>
          </tr>
          <tr>
            <th scope="row">Oklahoma</th>
            <td>Postmarked 11 days before the election.</td>
            <td>You must register before the deadline.</td>
            <td><a href="https://register2.rockthevote.com/registrants/new/?state=OK&partner=1&source=rtv.com-voterregdeadlines">Oklahoma Online Voter Registration</a></td>
          </tr>
          <tr>
            <th scope="row">Oregon</th>
            <td>Received 30 days before the election.</td>
            <td>You must register before the deadline.</td>
            <td><a href="https://register2.rockthevote.com/registrants/new/?state=OR&partner=1&source=rtv.com-voterregdeadlines">Oregon Online Voter Registration</a></td>
          </tr>
          <tr>
            <th scope="row">Pennsylvania</th>
            <td>Received 29 days before the election.</td>
            <td>You must register before the deadline.</td>
            <td><a href="https://register2.rockthevote.com/registrants/new/?state=PA&partner=1&source=rtv.com-voterregdeadlines">Pennsylvania Online Voter Registration</a></td>
          </tr>
          <tr>
            <th scope="row">Rhode Island</th>
            <td>Postmarked 30 days before the election.</td>
            <td>You must register in person on Election Day, but only for Presidential elections.</td>
            <td><a href="https://register2.rockthevote.com/registrants/new/?state=RI&partner=1&source=rtv.com-voterregdeadlines">Rhode Island Online Voter Registration</a></td>
          </tr>
          <tr>
            <th scope="row">South Carolina</th>
            <td>Postmarked 11 days before the election.</td>
            <td>You must register before the deadline.</td>
            <td><a href="https://register2.rockthevote.com/registrants/new/?state=SC&partner=1&source=rtv.com-voterregdeadlines">South Carolina Online Voter Registration</a></td>
          </tr>
          <tr>
            <th scope="row">South Dakota</th>
            <td>Received 30 days before the election.</td>
            <td>You must register before the deadline.</td>
            <td><a href="https://register2.rockthevote.com/registrants/new/?state=SD&partner=1&source=rtv.com-voterregdeadlines">South Dakota Online Voter Registration</a></td>
          </tr>
          <tr>
            <th scope="row">Tennessee</th>
            <td>Received 29 days before the election.</td>
            <td>You must register before the deadline.</td>
            <td><a href="https://register2.rockthevote.com/registrants/new/?state=TN&partner=1&source=rtv.com-voterregdeadlines">Tennessee Online Voter Registration</a></td>
          </tr>
          <tr>
            <th scope="row">Texas</th>
            <td>Postmarked 30 days before the election.</td>
            <td>You must register before the deadline.</td>
            <td><a href="https://register2.rockthevote.com/registrants/new/?state=TX&partner=1&source=rtv.com-voterregdeadlines">Texas Online Voter Registration</a></td>
          </tr>
          <tr>
            <th scope="row">Utah</th>
            <td>Postmarked 11 days before the election.</td>
            <td>You must register before the deadline.</td>
            <td><a href="https://register2.rockthevote.com/registrants/new/?state=UT&partner=1&source=rtv.com-voterregdeadlines">Utah Online Voter Registration</a></td>
          </tr>
          <tr>
            <th scope="row">Vermont</th>
            <td>Received 30 days before the election.</td>
            <td>You must register before the deadline.</td>
            <td><a href="https://register2.rockthevote.com/registrants/new/?state=VT&partner=1&source=rtv.com-voterregdeadlines">Vermont Online Voter Registration</a></td>
          </tr>
          <tr>
            <th scope="row">Virginia</th>
            <td>Received 29 days before the election.</td>
            <td>You must register before the deadline.</td>
            <td><a href="https://register2.rockthevote.com/registrants/new/?state=VA&partner=1&source=rtv.com-voterregdeadlines">Virginia Online Voter Registration</a></td>
          </tr>
          <tr>
            <th scope="row">Washington</th>
            <td>Postmarked 30 days before the election.</td>
            <td>You must register before the deadline.</td>
            <td><a href="https://register2.rockthevote.com/registrants/new/?state=WA&partner=1&source=rtv.com-voterregdeadlines">Washington Online Voter Registration</a></td>
          </tr>
          <tr>
            <th scope="row">West Virginia</th>
            <td>Postmarked 30 days before the election.</td>
            <td>You must register before the deadline.</td>
            <td><a href="https://register2.rockthevote.com/registrants/new/?state=WV&partner=1&source=rtv.com-voterregdeadlines">West Virginia Online Voter Registration</a></td>
          </tr>
          <tr>
            <th scope="row">Wisconsin</th>
            <td>Postmarked 30 days before the election.</td>
            <td>You may also register in person on Election Day.</td>
            <td><a href="https://register2.rockthevote.com/registrants/new/?state=WI&partner=1&source=rtv.com-voterregdeadlines">Wisconsin Online Voter Registration</a></td>
          </tr>
          <tr>
            <th scope="row">Wyoming</th>
            <td>Postmarked 30 days before the election.</td>
            <td>You may also register in person on Election Day.</td>
            <td></td>
          </tr>
        </tbody>
      </table>

      {% include 'partials/_smshare.twig' %}
      <p class="volver clearfix"><a href="#skiptarget"><span class="icon-backtotop-dwnlvl">Back to Top</span></a></p>

      {% include '01-Modules/contact-box.twig' %}
      {% include '01-Modules/page-survey.twig' %}
    </div>
  </div>


</main>

{% endblock content %}
