<div class="wotp">
	<header>
		<h2>What's on This Page</h2>
	</header>
	<div class="clearfix">
		<ul>
			{% for item in whats_on_this_page %}
			<li>
				<a href="#{{item.id}}" onclick="document.getElementById('{{item.id}}').focus();">
					{{item.name}}
				</a>
			</li>
			{% endfor %}
		</ul>
	</div>
</div>