<!– Google Tag Manager –>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-KV4BZFD');</script>
<!– End Google Tag Manager –>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>{{name}}  &#124; USAGov</title>
<meta name="description" content="USA.gov can help you start your search for government information by topic and agency." />
<link rel="canonical" href="https://www.usa.gov/" />
<meta name="google" value="notranslate">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="alternate" type="application/rss+xml" title="USA.gov RSS" href="https://www.usa.gov/rss.xml" />

<meta property="og:url" content="https://www.usa.gov/" />
<meta property="og:type" content="website" />
<meta property="og:title" content="Official Guide to Government Information and Services  &#124; USAGov" />
<meta property="og:description" content="USA.gov can help you start your search for government information by topic and agency." />
<meta property="og:image" content="https://www.usa.gov/sites/all/themes/usa/images/USAGOV.png" />

<!-- Favicons -->
<link rel="apple-touch-icon-precomposed" href="/images/USA_Fav_Icon152_default.png">
<link rel="icon" sizes="16x16" href="/images/USA_Fav_Icon16.ico">
<link rel="icon" sizes="32x32" href="/images/favicon.ico">
<link rel="icon" sizes="152x152" href="/images/USA_Fav_Icon152_default.png">


<!-- Styles -->
<link rel="stylesheet" href="/css/style.css">
<link rel="stylesheet" href="/css/pagelevelsurvey.css">
<link rel="stylesheet" href="/css/print.css" media="print" />


<!-- Scripts -->
<script type="text/javascript" src="https://www.usa.gov/sites/all/modules/contrib/jquery_update/replace/jquery/1.10/jquery.min.js?v=1.10.2"></script>
<script type="text/javascript" src="https://www.usa.gov/sites/all/modules/custom/media_link_alter/media_link_alter.js?nyeaq8"></script>
<script type="text/javascript">
<!--//--><![CDATA[//><!--

/* The following script si injected from /appdata/cmp-childsites/release/391/sites/all/modules/custom/media_link_alter/media_link_alter.module */
jQuery(document).ready( function () {
		var linksAltered = alterMediaLinks({"pdf":"(<span aria-labelledby=\"usorg[ID]\" aria-describedby=\"usorg[ID]\">PDF, <a href=\"https:\/\/get.adobe.com\/reader\/\">Download Adobe Reader<\/a><\/span>)","xls":"(<span aria-labelledby=\"usorg[ID]\" aria-describedby=\"usorg[ID]\">XLS, <a href=\"http:\/\/www.microsoft.com\/en-us\/download\/details.aspx?id=10\">Download Excel Reader<\/a><\/span>)","doc":"(<span aria-labelledby=\"usorg[ID]\" aria-describedby=\"usorg[ID]\">DOC, <a href=\"http:\/\/www.microsoft.com\/en-us\/download\/details.aspx?id=4\">Download Word Reader<\/a><\/span>)","docx":"(<span aria-labelledby=\"usorg[ID]\" aria-describedby=\"usorg[ID]\">DOCX, <a href=\"http:\/\/www.microsoft.com\/en-us\/download\/details.aspx?id=4\">Download Word Reader<\/a><\/span>)","ppt":"(<span aria-labelledby=\"usorg[ID]\" aria-describedby=\"usorg[ID]\">PPT, <a href=\"http:\/\/www.microsoft.com\/en-us\/download\/details.aspx?id=13\">Download Power Point Reader<\/a><\/span>)"});
});

//--><!]]>
</script>
<script type="text/javascript" src="https://www.usa.gov/sites/all/themes/usa/js/respond.js?nyeaq8"></script>
<script type="text/javascript" src="https://www.usa.gov/sites/all/themes/usa/js/jquery-2.1.1.min.js?p3svuh"></script>
<script type="text/javascript" src="https://www.usa.gov/sites/all/themes/usa/js/platform.js?nyeaq8"></script>
<script type="text/javascript" src="/js/menu.js?nyeaq8"></script>
<script type="text/javascript" src="/js/standardsModifications.js"></script>
<script type="text/javascript" src="/js/modal.js"></script>
<script type="text/javascript" src="https://www.usa.gov/sites/all/themes/usa/js/states.js?nyeaq8"></script>
<script type="text/javascript" src="https://www.usa.gov/sites/all/themes/usa/js/homepage.js?nyeaq8"></script>
<script type="text/javascript" src="/js/uswds.js"></script>

<!--[if lte IE 8]>
<script src="https://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
