
<!DOCTYPE html>

<html  lang="en" xml:lang="en"  >

<head>
	{% include 'partials/_head.twig' %}

	{% block pageStyles %}
	{% endblock pageStyles %}

</head>

<body>
	<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KV4BZFD"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

	{% block content %}
	<main id="main-content">
	  <div class="usa-grid">
	    <div class="usa-width-one-whole">{{yield}}</div>
	  </div>
	</main>
	{% endblock content %}

	{% include '_partials_bodyscripts.twig' %}

	{% block pageScripts %}
	{% endblock pageScripts %}

</body>
</html>
