{% extends "Main.html" %}

{% block pageTitle %}
    {{pageTitle}}
{% endblock %}

{% block headJS %}
<script>console.log('FOO FOO');</script>
{% endblock %}

{% block page %}
    <h1>home</h1>
    <h2>{{name}}</h2>
    <p>My UUID is {{uuid}}.</p>
    <p>My URL is url:{{ browser_title|sanitizeForUrl }}.</p>
    <p>entities|length {{ entities|length }}.</p>
    <p>entities|onlyFeatures|length {{ entities|onlyFeatures|length }}.</p>
    <p>features|length {{ features|length }}.</p>

    <p>
        {% if whats_new != null %}
            {{ whats_new.title }}
            <br/>
            {{ entities[whats_new.uuid].title }}
        {% endif %}
    </p>
    <ul>
        {% for f,feature in features|sharesTopicWith(uuid)|sortBy("created")|slice(0,1) %}
            <li>{{ f }} {{ feature.created }} {{ feature.title }}</li>
        {% endfor %}
    </ul>
    <ul>
        {% for f,feature in features|sharesTopicWith(uuid)|sortBy("title") %}
            <li>{{ f }} {{ feature.created }} {{ feature.title }}</li>
        {% endfor %}
    </ul>

    <ul>
        {% for f,feature in shares_topic %}
            <li>{{ f }} {{ feature.created }} {{ feature.title }}</li>
        {% endfor %}
    </ul>

{% endblock %}
