<!DOCTYPE html>
<html lang="en" xml:lang="en">
<head>
    <!– Google Tag Manager –>
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-KV4BZFD');</script>
    <!– End Google Tag Manager –>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="google" value="notranslate">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="USA.gov can help you start your search for government information by topic and agency." />
    <title>{% block pageTitle %}No Page Title{% endblock %}</title>
    <!-- Favicon Items -->
    <link rel="apple-touch-icon-precomposed" href="https://{{ siteUrl }}/sites/all/themes/usa/images/USA_Fav_Icon152_default.png">
    <link rel="icon" sizes="16x16"           href="https://{{ siteUrl }}/sites/all/themes/usa/images/USA_Fav_Icon16.ico">
    <link rel="icon" sizes="32x32"           href="https://{{ siteUrl }}/sites/all/themes/usa/images/favicon.ico">
    <link rel="icon" sizes="152x152"         href="https://{{ siteUrl }}/sites/all/themes/usa/images/USA_Fav_Icon152_default.png">
    <!-- Style Items -->
    <link rel="alternate" type="application/rss+xml" title="USA.gov RSS" href="https://{{ siteUrl }}/rss.xml" />
    <link rel="stylesheet" href="https://{{ siteUrl }}/sites/all/themes/usa/css/print.css" media="print" />
    <style type="text/css" media="all">
        @import url("https://{{ siteUrl }}/modules/system/system.messages.css?onw6dy");
    </style>
    <style type="text/css" media="all">
        @import url("https://{{ siteUrl }}/sites/all/themes/usa/css/style.css?onw6dy");
        @import url("https://{{ siteUrl }}/sites/all/themes/usa/css/pagelevelsurvey.css?onw6dy");
        @import url("https://{{ siteUrl }}/sites/all/themes/usa/css/google-fonts.css?onw6dy");
    </style>
    <style type="text/css" media="print">
        @import url("https://{{ siteUrl }}/sites/all/themes/usa/css/print.css?onw6dy");
    </style>
    <!-- Script Items -->
    <script type="text/javascript" src="https://{{ siteUrl }}/sites/all/modules/contrib/jquery_update/replace/jquery/1.10/jquery.min.js?v=1.10.2"></script>
    <script type="text/javascript" src="https://{{ siteUrl }}/sites/all/modules/custom/media_link_alter/media_link_alter.js?onw6dy"></script>
    <script type="text/javascript">
        <!--//--><![CDATA[//><!--
        jQuery(document).ready( function () {
            var linksAltered = alterMediaLinks({
                "pdf" :"(<span aria-labelledby=\"usorg[ID]\" aria-describedby=\"usorg[ID]\">PDF,  <a href=\"https:\/\/get.adobe.com\/reader\/\">Download Adobe Reader<\/a><\/span>)",
                "xls" :"(<span aria-labelledby=\"usorg[ID]\" aria-describedby=\"usorg[ID]\">XLS,  <a href=\"http:\/\/www.microsoft.com\/en-us\/download\/details.aspx?id=10\">Download Excel Reader<\/a><\/span>)",
                "doc" :"(<span aria-labelledby=\"usorg[ID]\" aria-describedby=\"usorg[ID]\">DOC,  <a href=\"http:\/\/www.microsoft.com\/en-us\/download\/details.aspx?id=4\">Download Word Reader<\/a><\/span>)",
                "docx":"(<span aria-labelledby=\"usorg[ID]\" aria-describedby=\"usorg[ID]\">DOCX, <a href=\"http:\/\/www.microsoft.com\/en-us\/download\/details.aspx?id=4\">Download Word Reader<\/a><\/span>)",
                "ppt" :"(<span aria-labelledby=\"usorg[ID]\" aria-describedby=\"usorg[ID]\">PPT,  <a href=\"http:\/\/www.microsoft.com\/en-us\/download\/details.aspx?id=13\">Download Power Point Reader<\/a><\/span>)"
            });
        });
        //--><!]]>
    </script>
    <script type="text/javascript" src="https://standards.usa.gov/assets/js/styleguide.js"></script>
    <script type="text/javascript" src="https://{{ siteUrl }}/sites/all/themes/usa/js/respond.js?onw6dy"></script>
    <script type="text/javascript" src="https://{{ siteUrl }}/sites/all/themes/usa/js/jquery-2.1.1.min.js?onw6dy"></script>
    <script type="text/javascript" src="https://{{ siteUrl }}/sites/all/themes/usa/js/platform.js?onw6dy"></script>
    <script type="text/javascript" src="https://{{ siteUrl }}/sites/all/themes/usa/js/menu.js?onw6dy"></script>
    <script type="text/javascript" src="https://{{ siteUrl }}/sites/all/themes/usa/js/states.js?onw6dy"></script>
    <script type="text/javascript" src="https://{{ siteUrl }}/sites/all/themes/usa/js/standardsModifications.js?onw6dy"></script>
    <script type="text/javascript" src="https://{{ siteUrl }}/sites/all/themes/usa/js/homepage.js?onw6dy"></script>
    <!--[if lt IE 9]>
      <script src="https://standards.usa.gov/assets/js/vendor/html5shiv.js"></script>
    <![endif]-->
    <link rel="canonical" href="https://" />
    {% block headJS %}<!-- HEAD JS -->{% endblock %}
    {{ head_html }}
</head>
<body>
    <noscript>JavaScript must be enabled in your browser in order to use some functions.</noscript>
    <a class="usa-skipnav" href="#skiptarget" onclick="document.getElementById('#skiptarget').focus();">Skip to main content</a>
    <header class="usa-header usa-header-extended" role="banner">
        <div class="usa-banner">
          <div class="usa-accordion">
            <header class="usa-banner-header">
              <div class="usa-grid usa-banner-inner">
                <img src="https://{{ siteUrl }}/sites/all/themes/usa/images/favicon-57.png" alt="U.S. flag">
                <p>An official website of the United States government</p>
                <button class="usa-accordion-button usa-banner-button" aria-expanded="false" aria-controls="gov-banner">
                  <span class="usa-banner-button-text">Here's how you know</span>
                </button>
              </div>
            </header>
            <div class="usa-banner-content usa-grid usa-accordion-content" id="gov-banner" aria-hidden="true">
              <div class="usa-banner-guidance-gov usa-width-one-half">
                <img class="usa-banner-icon usa-media_block-img" src="https://{{ siteUrl }}/sites/all/themes/usa/images/icon-dot-gov.svg" alt="Dot gov">
                <div class="usa-media_block-body">
                  <p>
                    <strong>The .gov means it's official.</strong>
                    <br>
                    Federal government websites often end in .gov or .mil. Before sharing sensitive information, make sure you're on a federal government site.
                  </p>
                </div>
              </div>
              <div class="usa-banner-guidance-ssl usa-width-one-half">
                <img class="usa-banner-icon usa-media_block-img" src="https://{{ siteUrl }}/sites/all/themes/usa/images/icon-https.svg" alt="SSL">
                <div class="usa-media_block-body">
                  <p>
                    <strong>This site is secure.</strong>
                    <br>
                    The <strong>https://</strong> ensures that you are connecting to the official website and that any information you provide is encrypted and transmitted securely.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="usa-navbar">
            {{ sitePage.page_intro }}
            {{ page_intro }}
            <button class="usa-menu-btn">Menu</button>
        </div>
        <nav role="navigation" class="usa-nav">
          <div class="usa-nav-inner">
            {{ sitePage.head_html }}
            <button class="usa-menu-btn">Menu</button>
            {% include "MainNav.html" %}
          </div>
        </nav>
    </header>
    <div class="usa-overlay"></div>
    <div class="clearfix">
        <p id="skiptargetholder"> <a id="skiptarget" class="skip" tabindex="-1"></a> </p>
    </div>
    <div class="clearfix">
      <p id="skiptargetholder"> <a id="skiptarget" class="skip" tabindex="-1"></a> </p>
    </div>
    <div id="#skiptarget" class="hptoggles clearfix">
        <div class="container usa-grid">
            <ul>
                {% if gobiernousa_gov_toggle_url is not empty %}
                <li class="engtoggle">
                    <a href="{{ gobiernousa_gov_toggle_url }}" lang="es" xml:lang="es">
                      Espa&ntilde;ol
                    </a>
                </li>
                {% endif %}
                {% if usa_gov_toggle_url is not empty %}
                <li class="engtoggle">
                    <a href="{{ usa_gov_toggle_url }}" lang="es" xml:lang="en">
                      Espa&ntilde;ol
                    </a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
    {% block page %}<!-- Page Content -->{% endblock %}
    
    {{ sitePage.end_html }}
    {{ end_html }}

    <script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
		ga('create', 'UA-28227333-1', 'auto');
		ga('send', 'pageview');
	</script>

    <!-- Begin: VOC survey -->
    <div id="srvyinvt"></div>
    <script type="text/javascript" src="https://survey.usa.gov/widget/291/invitation.js?target_id=srvyinvt&mobile_target_id=survey-target&stylesheet=https%3A%2F%2F{{ siteUrl }}/sites/all/themes/usa/css/popup-survey.css"></script>
    <!-- End: VOC survey -->

	<script type="text/javascript">
	//<![CDATA[
        var usasearch_config = { siteHandle:"usagov" };
        var script = document.createElement("script");
        script.type = "text/javascript";
        script.src = "https://search.usa.gov/javascripts/remote.loader.js";
        document.getElementsByTagName("head")[0].appendChild(script);
	//]]>
	</script>

    <!-- Needed_for_USA.gov_uptime_check -->
    <script type="text/javascript">
    setTimeout(function(){var a=document.createElement("script");
    var b=document.getElementsByTagName("script")[0];
    a.src=document.location.protocol+"//script.crazyegg.com/pages/scripts/0007/9651.js?"+Math.floor(new Date().getTime()/3600000);
    a.async=true;a.type="text/javascript";b.parentNode.insertBefore(a,b)}, 1);
    </script>

     <!-- Start of Async HubSpot Analytics Code -->
     <script type="text/javascript">
     (function(d,s,i,r) {
     if (d.getElementById(i)){return;}
     var n=d.createElement(s),e=d.getElementsByTagName(s)[0];
     n.id=i;n.src='//js.hs-analytics.net/analytics/'+(Math.ceil(new Date()/r)*r)+'/532040.js';
     e.parentNode.insertBefore(n, e);
     })(document,"script","hs-analytics",300000);
     </script>

    <script type="text/javascript" src="https://standards.usa.gov/assets/js/vendor/uswds.min.js"></script>
</body>
</html>
